# 0- Imports

In [1]:
# Install dependencies
#!pip install -q amplpy

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [3]:
licenca ="default"

In [4]:
# Google Colab & Kaggle integration
try:
    from amplpy import AMPL, tools
except:
    !pip install -q amplpy
    from amplpy import AMPL, tools
else:
    ampl = tools.ampl_notebook(
        modules=["highs", "gokestrel", "gurobi", "cplex"], # modules to install
        license_uuid=licenca, # license to use
        g=globals()) # instantiate AMPL object and register magics

VBox(children=(Output(), HBox(children=(Text(value='', description='License UUID:', style=TextStyle(descriptio…

In [5]:
ampl.option["solver"] = "gurobi"

# 1- Modelagem

## 1.1- Bin-packing adaptado para Cutting Stock Problem (CSP)

Modelagem matemática 

Dado que temos $n$ tipos de itens para empacotar, cada um com peso $w_{i}$ e uma demanda inteira $d_{i}$, para todo $i \in \{1,...,n\}$, e um número $m$ de mochilas (caixas) idênticas com capacidade inteira $c$, então temos:

$$
\begin{aligned}
\text{minimizar} \quad &\sum_{j = 1}^{m} y_{j} \\
\text{sujeito a} \quad &\sum_{i = 1}^{n} w_{i} \xi_{i j} \leq c y_{j} \quad \forall j \in \{1,...,m\} \\
&\sum_{j = 1}^{m} \xi_{i j} = d_{i} \quad \forall i \in \{1,...,n\} \\
&\xi_{i j} \geq0 \in \mathbb{Z} \quad \forall i \in \{1,...,n\}, j \in \{1,...,m\} \\
&y_{j} \in \{0,1\} \quad \forall j \in \{1,...,m\}
\end{aligned}
$$


 Seja $\quad$ $\xi_{i j}$= número de itens tipo $i$ adicionados na caixa $j$

In [6]:
%%ampl_eval
reset;

In [7]:
%%ampl_eval
param n;
param C;

suffix master IN, binary;
suffix block IN, integer;

set I = 1..n ordered;
param w {I} > 0;
param d {I} > 0;
param maxVal := max {i in I} w[i];
param soma := sum{i in I} d[i];
param maxbins := ceil(soma / floor(C / maxVal));

set J = 1..maxbins;

var e {I,J} integer >= 0;
var y {J} binary;

minimize FO:  sum {j in J} y[j];

s.t. R1_capacidade_mochila {j in J}:
   sum {i in I} w[i] * e[i,j] <= C * y[j] suffix block j;

s.t. R2_quantidade_demanda {i in I}:
   sum {j in J} e[i, j] = d[i] suffix block i;

### 1.1.1- Importar dados

In [8]:
df_process = pd.read_excel('../../01-Data/ordens_pre_process.xlsx')

df_process

,Id,Ordem de produção,Data da ordem de produção,Produto,Comprimento unit,Largura unit,Altura unit,Peso unit,Peças,Caixa padrão,...,Item pai,Cor,Tamanho,Inner,Rota,Capacidade,pai-cor,Volume unit,Volume total,Peso_total
0,0,2,2023-11-14,828646451,284,131,50,0.250,3,CARTON_M,...,2,2,2,1,11,2.720000e+10,2-2,1860200,5580600,0.750
1,1,3,2023-11-09,605410977,250,100,14,0.120,1,CARTON_M,...,3,3,3,1,5,2.720000e+10,3-3,350000,350000,0.120
2,2,7,2023-11-11,545612218,81,87,162,0.640,1,CARTON_S,...,7,0,7,1,1,inf,7-0,1141614,1141614,0.640
3,3,8,2023-11-24,861652334,248,216,128,0.300,5,CARTON_M,...,8,7,5,1,3,inf,8-7,6856704,34283520,1.500
4,4,9,2023-11-13,879695703,393,295,32,0.520,2,CARTON_M,...,9,8,8,1,11,2.720000e+10,9-8,3709920,7419840,1.040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58453,58453,68,2023-11-07,843672948,485,377,30,0.233,3,CARTON_M,...,353,4,1,1,1,inf,353-4,5485350,16456050,0.699
58454,58454,8926,2023-11-23,796269830,443,268,19,0.140,4,CARTON_M,...,958,2,14,1,4,inf,958-2,2255756,9023024,0.560
58455,58455,257,2023-11-07,611398476,412,281,27,0.440,1,CARTON_M,...,554,22,1,1,3,inf,554-22,3125844,3125844,0.440
58456,58456,8936,2023-11-24,882144507,387,283,18,0.107,4,CARTON_M,...,130,9,115,1,3,inf,130-9,1971378,7885512,0.428
58457,58457,916,2023-11-21,542772161,250,100,25,0.145,10,CARTON_M,...,1669,1,3,1,3,inf,1669-1,625000,6250000,1.450

In [9]:
df_process.columns = df_process.columns.str.replace(' ', '_')

In [10]:
df_process[['Loja','Tipo_de_buffer','Classe_de_onda']] = df_process[['Loja','Tipo_de_buffer', 'Classe_de_onda']].astype('string')

In [11]:
df_process.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58458 entries, 0 to 58457
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Id                         58458 non-null  int64
 1   Ordem_de_produção          58458 non-null  int64
 2   Data_da_ordem_de_produção  58458 non-null  datetime64[ns]
 3   Produto                    58458 non-null  int64
 4   Comprimento_unit           58458 non-null  int64
 5   Largura_unit               58458 non-null  int64
 6   Altura_unit                58458 non-null  int64
 7   Peso_unit                  58458 non-null  float64
 8   Peças                      58458 non-null  int64
 9   Caixa_padrão               58458 non-null  object
 10  Loja                       58458 non-null  string
 11  Classe_de_onda             58458 non-null  string
 12  Tipo_de_buffer             58458 non-null  string
 13  Item_pai                   58458 non-null  int64
 14  Cor                        58458 non-null  int64
 15  Tamanho                    58458 non-null  int64
 16  Inner                      58458 non-null  int64
 17  Rota                       58458 non-null  int64
 18  Capacidade                 58458 non-null  float64
 19  pai-cor                    58458 non-null  object
 20  Volume_unit                58458 non-null  int64
 21  Volume_total               58458 non-null  int64
 22  Peso_total                 58458 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(14), object(2), string(3)
memory usage: 10.3+ MB

verificar a demanda por loja

In [12]:
df_process.groupby(['Tipo_de_buffer', 'Loja', 'Classe_de_onda']).agg({'Peças':'sum'}).head(30)

                                    Peças
Tipo_de_buffer Loja Classe_de_onda
CX             1    3                  11
                    4                  39
                    6                   5
                    9                   9
               10   1                1356
                    2                 499
                    3                 303
                    4                1081
                    5                 336
                    6                 421
                    7                 336
                    8                  12
                    9                 849
               100  2                   7
                    3                  27
                    4                  84
                    5                  12
                    6                  34
                    7                   4
                    9                  69
               101  2                  21
                    3                  33
                    4                 128
                    5                  36
                    6                  33
                    7                   2
                    9                  57
               102  3                  18
                    4                  46
                    5                  11

Vamos reduzir o problema para uma loja

In [13]:
df_process_situacao1 = df_process.query('Tipo_de_buffer == "CX" & Loja == "2" & Classe_de_onda == "3"')

with pd.option_context('display.max_columns', None):
    display(df_process_situacao1)

,Id,Ordem_de_produção,Data_da_ordem_de_produção,Produto,Comprimento_unit,Largura_unit,Altura_unit,Peso_unit,Peças,Caixa_padrão,Loja,Classe_de_onda,Tipo_de_buffer,Item_pai,Cor,Tamanho,Inner,Rota,Capacidade,pai-cor,Volume_unit,Volume_total,Peso_total
704,704,1237,2023-11-16,736849445,447,268,20,0.284,2,CARTON_M,2,3,CX,992,347,6,1,11,2.720000e+10,992-347,2395920,4791840,0.568
1439,1439,59,2023-11-14,841264182,437,192,16,0.218,5,CARTON_M,2,3,CX,59,37,3,1,11,2.720000e+10,59-37,1342464,6712320,1.090
1753,1753,987,2023-11-14,882057278,449,239,62,0.450,5,CARTON_M,2,3,CX,827,9,5,1,11,2.720000e+10,827-9,6653282,33266410,2.250
2191,2191,933,2023-11-14,856853019,564,277,24,0.442,2,CARTON_M,2,3,CX,792,4,6,1,11,2.720000e+10,792-4,3749472,7498944,0.884
2210,2210,989,2023-11-14,675645211,407,226,27,0.315,2,CARTON_M,2,3,CX,829,4,1,1,11,2.720000e+10,829-4,2483514,4967028,0.630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29881,29881,7585,2023-11-14,841264123,446,201,17,0.219,9,CARTON_M,2,3,CX,59,4,3,1,11,2.720000e+10,59-4,1523982,13715838,1.971
30129,30129,1723,2023-11-07,595813106,335,172,38,0.150,1,CARTON_M,2,3,CX,503,77,3,1,11,2.720000e+10,503-77,2189560,2189560,0.150
30672,30672,1534,2023-11-07,817850042,364,288,23,0.213,1,CARTON_M,2,3,CX,1155,137,1,1,11,2.720000e+10,1155-137,2411136,2411136,0.213
30771,30771,1534,2023-11-07,548143429,317,197,22,0.120,2,CARTON_M,2,3,CX,1155,3,5,1,11,2.720000e+10,1155-3,1373878,2747756,0.240
31016,31016,1842,2023-11-07,548143429,317,197,22,0.120,1,CARTON_M,2,3,CX,1155,3,5,1,11,2.720000e+10,1155-3,1373878,1373878,0.120

In [14]:
df_process_situacao1['Peso_total'].sum()

43.875

In [15]:
pecas = list(df_process_situacao1['Peças'].values)
pecas

[2,
 5,
 5,
 2,
 2,
 10,
 4,
 1,
 10,
 1,
 1,
 4,
 4,
 7,
 7,
 3,
 1,
 7,
 3,
 1,
 3,
 1,
 3,
 12,
 2,
 2,
 1,
 1,
 3,
 1,
 3,
 1,
 1,
 7,
 1,
 1,
 2,
 3,
 2,
 3,
 1,
 5,
 1,
 2,
 5,
 3,
 7,
 1,
 2,
 2,
 1,
 2,
 1,
 4,
 1,
 3,
 1,
 9,
 1,
 1,
 2,
 1]

In [16]:
peso =  list(df_process_situacao1['Peso_unit'].values)
peso

[0.284,
 0.218,
 0.45,
 0.442,
 0.315,
 0.293,
 0.16,
 0.25,
 0.2,
 0.166,
 0.166,
 0.14,
 0.222,
 0.14,
 0.14,
 0.186,
 0.216,
 0.348,
 0.37,
 0.216,
 0.49,
 0.15,
 0.11,
 0.231,
 0.261,
 0.15,
 0.11,
 0.216,
 0.11,
 0.186,
 0.185,
 0.244,
 0.2,
 0.238,
 0.174,
 0.44,
 0.73,
 0.166,
 0.11,
 0.293,
 0.173,
 0.295,
 0.19,
 0.19,
 0.175,
 0.258,
 0.22,
 0.155,
 0.168,
 0.168,
 0.313,
 0.155,
 0.213,
 0.209,
 0.213,
 0.203,
 0.213,
 0.219,
 0.15,
 0.213,
 0.12,
 0.12]

In [17]:
ids =  list(df_process_situacao1['Id'].values)
ids

[704,
 1439,
 1753,
 2191,
 2210,
 2244,
 2434,
 2484,
 2654,
 3473,
 3929,
 4071,
 4892,
 5139,
 5940,
 7427,
 7790,
 8247,
 8301,
 8465,
 8607,
 8900,
 9082,
 9475,
 10037,
 10429,
 10545,
 11418,
 12419,
 12713,
 14135,
 14643,
 15121,
 15363,
 15368,
 16320,
 17134,
 17178,
 17374,
 17382,
 17671,
 18545,
 18806,
 20472,
 20840,
 21950,
 22157,
 23199,
 23586,
 24045,
 24060,
 24515,
 27437,
 27796,
 28201,
 28466,
 29502,
 29881,
 30129,
 30672,
 30771,
 31016]

In [18]:
len(pecas)

62

In [19]:
len(peso)

62

In [20]:
# Vamos verificar se temos valores nulos no peso
any(x is None for x in peso)

False

### 1.1.2- Entrada de dados no modelo

In [21]:
ampl.param["n"] = len(pecas)
ampl.param["C"] = 23
w = peso
d = pecas

ampl.param["w"] = {i: w[i - 1] for i in range(1, len(w) + 1)}
ampl.param["d"] = {i: d[i - 1] for i in range(1, len(d) + 1)}

### 1.1.3- Solver Gurobi

In [22]:
for i in range(1, len(w) + 1):
    print(w[i - 1])

0.284
0.218
0.45
0.442
0.315
0.293
0.16
0.25
0.2
0.166
0.166
0.14
0.222
0.14
0.14
0.186
0.216
0.348
0.37
0.216
0.49
0.15
0.11
0.231
0.261
0.15
0.11
0.216
0.11
0.186
0.185
0.244
0.2
0.238
0.174
0.44
0.73
0.166
0.11
0.293
0.173
0.295
0.19
0.19
0.175
0.258
0.22
0.155
0.168
0.168
0.313
0.155
0.213
0.209
0.213
0.203
0.213
0.219
0.15
0.213
0.12
0.12

In [23]:
ampl.option["solver"] = "gurobi"
ampl.option["gurobi_options"] = "outlev=1"
ampl.solve()

Gurobi 11.0.1: Set parameter LogToConsole to value 1
  tech:outlev = 1
Set parameter InfUnbdInfo to value 1
Gurobi Optimizer version 11.0.1 build v11.0.1rc0 (win64 - Windows 11.0 (22631.2))

CPU model: 13th Gen Intel(R) Core(TM) i7-1355U, instruction set [SSE2|AVX|AVX2]
Thread count: 10 physical cores, 12 logical processors, using up to 12 threads

Optimize a model with 69 rows, 441 columns and 875 nonzeros
Model fingerprint: 0x26cf4c09
Variable types: 0 continuous, 441 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e-01, 2e+01]
  Objective range  [1e+00, 1e+00]
  Bounds range     [1e+00, 1e+01]
  RHS range        [1e+00, 1e+01]
Found heuristic solution: objective 7.0000000
Presolve time: 0.01s
Presolved: 69 rows, 441 columns, 875 nonzeros
Variable types: 0 continuous, 441 integer (168 binary)

Root relaxation: objective 1.907609e+00, 104 iterations, 0.00 seconds (0.00 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0    1.90761    0    4    7.00000    1.90761  72.7%     -    0s
H    0     0                       4.0000000    1.90761  52.3%     -    0s
H    0     0                       3.0000000    1.90761  36.4%     -    0s
H    0     0                       2.0000000    1.90761  4.62%     -    0s
     0     0    1.90761    0    4    2.00000    1.90761  4.62%     -    0s

Explored 1 nodes (104 simplex iterations) in 0.04 seconds (0.00 work units)
Thread count was 12 (of 12 available processors)

Solution count 4: 2 3 4 7

Optimal solution found (tolerance 1.00e-04)
Best objective 2.000000000000e+00, best bound 2.000000000000e+00, gap 0.0000%
Gurobi 11.0.1: optimal solution; objective 2
104 simplex iterations
1 branching node

In [24]:
%%ampl_eval
display {j in J} y[j];
display {i in I, j in J} e[i,j];

y[j] [*] :=
1  0
2  0
3  0
4  0
5  0
6  1
7  1
;

e[i,j] [*,*]
:    1   2   3   4   5   6    7     :=
1    0   0   0   0   0    0    2
2    0   0   0   0   0    0    5
3    0   0   0   0   0    5    0
4    0   0   0   0   0    0    2
5    0   0   0   0   0    0    2
6    0   0   0   0   0    0   10
7    0   0   0   0   0    0    4
8    0   0   0   0   0    0    1
9    0   0   0   0   0   10    0
10   0   0   0   0   0    0    1
11   0   0   0   0   0    0    1
12   0   0   0   0   0    0    4
13   0   0   0   0   0    0    4
14   0   0   0   0   0    0    7
15   0   0   0   0   0    0    7
16   0   0   0   0   0    0    3
17   0   0   0   0   0    0    1
18   0   0   0   0   0    7    0
19   0   0   0   0   0    0    3
20   0   0   0   0   0    0    1
21   0   0   0   0   0    0    3
22   0   0   0   0   0    0    1
23   0   0   0   0   0    0    3
24   0   0   0   0   0   12    0
25   0   0   0   0   0    0    2
26   0   0   0   0   0    0    2
27   0   0   0   0   0    0    1
28   0   0   0   0   0    0    1
29   0   0   0   0   0    3    0
30   0   0   0   0   0    0    1
31   0   0   0   0   0    3    0
32   0   0   0   0   0    0    1
33   0   0   0   0   0    0    1
34   0   0   0   0   0    7    0
35   0   0   0   0   0    0    1
36   0   0   0   0   0    0    1
37   0   0   0   0   0    2    0
38   0   0   0   0   0    3    0
39   0   0   0   0   0    2    0
40   0   0   0   0   0    0    3
41   0   0   0   0   0    0    1
42   0   0   0   0   0    0    5
43   0   0   0   0   0    0    1
44   0   0   0   0   0    0    2
45   0   0   0   0   0    5    0
46   0   0   0   0   0    0    3
47   0   0   0   0   0    7    0
48   0   0   0   0   0    0    1
49   0   0   0   0   0    2    0
50   0   0   0   0   0    2    0
51   0   0   0   0   0    0    1
52   0   0   0   0   0    0    2
53   0   0   0   0   0    0    1
54   0   0   0   0   0    4    0
55   0   0   0   0   0    0    1
56   0   0   0   0   0    3    0
57   0   0   0   0   0    0    1
58   0   0   0   0   0    9    0
59   0   0   0   0   0    0    1
60   0   0   0   0   0    0    1
61   0   0   0   0   0    2    0
62   0   0   0   0   0    0    1
;

In [25]:
J_set = ampl.getSet('J').getValues().toList()
y_var = ampl.getVariable('y').getValues().toPandas()
y_var

   y.val
1      0
2      0
3      0
4      0
5      0
6      1
7      1

In [26]:
e_var = ampl.getVariable('e').getValues().toPandas()
e_var

               e.val
index0 index1
1      1           0
       2           0
       3           0
       4           0
       5           0
...              ...
62     3           0
       4           0
       5           0
       6           0
       7           1

[434 rows x 1 columns]

In [27]:
e_var = e_var.reset_index()
e_var

     index0  index1  e.val
0         1       1      0
1         1       2      0
2         1       3      0
3         1       4      0
4         1       5      0
..      ...     ...    ...
429      62       3      0
430      62       4      0
431      62       5      0
432      62       6      0
433      62       7      1

[434 rows x 3 columns]

In [28]:
e_var.columns = ['itens','caixa', 'quantidade']

In [29]:
e_var

     itens  caixa  quantidade
0        1      1           0
1        1      2           0
2        1      3           0
3        1      4           0
4        1      5           0
..     ...    ...         ...
429     62      3           0
430     62      4           0
431     62      5           0
432     62      6           0
433     62      7           1

[434 rows x 3 columns]

#### Resumo do resultado

In [30]:
resultado = e_var.pivot(index='itens', columns='caixa', values='quantidade')

resultado

caixa  1  2  3  4  5  6  7
itens
1      0  0  0  0  0  0  2
2      0  0  0  0  0  0  5
3      0  0  0  0  0  5  0
4      0  0  0  0  0  0  2
5      0  0  0  0  0  0  2
...   .. .. .. .. .. .. ..
58     0  0  0  0  0  9  0
59     0  0  0  0  0  0  1
60     0  0  0  0  0  0  1
61     0  0  0  0  0  2  0
62     0  0  0  0  0  0  1

[62 rows x 7 columns]

In [31]:
resultado = resultado.reset_index()
resultado.columns.name = None
resultado['id'] = ids

resultado

    itens  1  2  3  4  5  6  7     id
0       1  0  0  0  0  0  0  2    704
1       2  0  0  0  0  0  0  5   1439
2       3  0  0  0  0  0  5  0   1753
3       4  0  0  0  0  0  0  2   2191
4       5  0  0  0  0  0  0  2   2210
..    ... .. .. .. .. .. .. ..    ...
57     58  0  0  0  0  0  9  0  29881
58     59  0  0  0  0  0  0  1  30129
59     60  0  0  0  0  0  0  1  30672
60     61  0  0  0  0  0  2  0  30771
61     62  0  0  0  0  0  0  1  31016

[62 rows x 9 columns]

In [32]:
resultado.columns

Index(['itens', 1, 2, 3, 4, 5, 6, 7, 'id'], dtype='object')

In [33]:
resultado_final_s1 = resultado.loc[:, (resultado != 0).any(axis=0)]
with pd.option_context('display.max_rows', None):
    display(resultado_final_s1)

    itens   6   7     id
0       1   0   2    704
1       2   0   5   1439
2       3   5   0   1753
3       4   0   2   2191
4       5   0   2   2210
5       6   0  10   2244
6       7   0   4   2434
7       8   0   1   2484
8       9  10   0   2654
9      10   0   1   3473
10     11   0   1   3929
11     12   0   4   4071
12     13   0   4   4892
13     14   0   7   5139
14     15   0   7   5940
15     16   0   3   7427
16     17   0   1   7790
17     18   7   0   8247
18     19   0   3   8301
19     20   0   1   8465
20     21   0   3   8607
21     22   0   1   8900
22     23   0   3   9082
23     24  12   0   9475
24     25   0   2  10037
25     26   0   2  10429
26     27   0   1  10545
27     28   0   1  11418
28     29   3   0  12419
29     30   0   1  12713
30     31   3   0  14135
31     32   0   1  14643
32     33   0   1  15121
33     34   7   0  15363
34     35   0   1  15368
35     36   0   1  16320
36     37   2   0  17134
37     38   3   0  17178
38     39   2   0  17374
39     40   0   3  17382
40     41   0   1  17671
41     42   0   5  18545
42     43   0   1  18806
43     44   0   2  20472
44     45   5   0  20840
45     46   0   3  21950
46     47   7   0  22157
47     48   0   1  23199
48     49   2   0  23586
49     50   2   0  24045
50     51   0   1  24060
51     52   0   2  24515
52     53   0   1  27437
53     54   4   0  27796
54     55   0   1  28201
55     56   3   0  28466
56     57   0   1  29502
57     58   9   0  29881
58     59   0   1  30129
59     60   0   1  30672
60     61   2   0  30771
61     62   0   1  31016

In [34]:
resultado_final_s1.columns

Index(['itens', 6, 7, 'id'], dtype='object')

In [35]:
print(f"número de caixas necessárias: {len(resultado_final_s1.drop(columns=['itens','id']).columns)}")

número de caixas necessárias: 2

In [36]:
for i in resultado_final_s1[[6,7]].columns.values:
    print(f"quantidade itens na mochila {i}: {resultado_final_s1[i].sum()}")

quantidade itens na mochila 6: 88
quantidade itens na mochila 7: 101

Com as restrições báscias, todos os itens foram colocados nas caixas

## 1.2- CSP com problemas do negócio - versão 1

Refazendo a modelagem

Modelagem matemática 

Dado que temos $n$ tipos de itens $i$ para empacotar, cada um com peso $w_{i}$, um múltiplo $inner_{i}$ da quantiade de itens a serem selecioner uma demanda $d_{i}$, para todo $i \in \{1,...,n\}$, e um número $m$ de mochilas (caixas) idênticas com capacidade de peso $cp$, então temos:

$$
\begin{aligned}
\text{minimizar} \quad &\sum_{j = 1}^{m} y_{j} \\
\text{sujeito a} \quad &\sum_{i = 1}^{n} w_{i} \xi_{i j}*inner_{i} \leq cp*y_{j} \quad \forall j \in \{1,...,m\} \\
&\sum_{j = 1}^{m} \xi_{i j} *inner_{i} = d_{i} \quad \forall i \in \{1,...,n\} \\
&\xi_{i j} \geq0 \in \mathbb{Z} \quad \forall i \in \{1,...,n\}, j \in \{1,...,m\} \\
&y_{j} \in \{0,1\} \quad \forall j \in \{1,...,m\}
\end{aligned}
$$


 Seja $\quad$ $\xi_{i j}$= número de itens tipo $i$ adicionados na mochila $j$

In [37]:
%%ampl_eval
reset;

In [38]:
%%ampl_eval
param n;
param cp;

suffix master IN, binary;
suffix block IN, integer;

set I = 1..n ordered;
param w {I} > 0;
param inner{I} > 0;
param d {I} > 0;
param maxVal := max {i in I} w[i];
param soma := sum{i in I} d[i];
param maxbins := ceil(soma / floor(cp / maxVal));

set J = 1..maxbins;

var e {I,J} integer >= 0;
var y {J} binary;

minimize FO:  sum {j in J} y[j];

s.t. R1_capacidade_mochila_peso {j in J}:
   sum {i in I} w[i] * e[i,j] * inner[i] <= cp * y[j] suffix block j;

s.t. R4_quantidade_demanda {i in I}:
   sum {j in J} e[i, j]* inner[i] = d[i] suffix block i;

### 1.2.1- Importar dados

In [39]:
df_caixas_tipo = pd.read_excel('../../01-Data/Dados - desafio disciplina RPVMM.xlsx', sheet_name='Tipos de caixa')
df_caixas_tipo

,Tipo,Tipo de buffer,Comprimento,Largura,Altura,Fator de ocupação,Peças max,Peso max (kg)
0,Caixa 1,CX,380,285,285,0.9,170,23
1,Caixa 2,CX,586,436,272,1.2,170,23
2,Caixa 3,CX,728,427,270,0.9,170,23
3,Caixa 1,EN,380,285,285,0.9,512,23
4,Caixa 2,EN,586,436,272,1.2,512,23
5,Caixa 3,EN,728,427,270,0.9,512,23

In [40]:
df_caixas_tipo.columns = df_caixas_tipo.columns.str.replace(' ', '_')

In [41]:
df_caixas_tipo['volume_util_caixa'] = df_caixas_tipo['Comprimento'] * df_caixas_tipo['Largura'] * df_caixas_tipo['Altura'] * df_caixas_tipo['Fator_de_ocupação']

df_caixas_tipo

,Tipo,Tipo_de_buffer,Comprimento,Largura,Altura,Fator_de_ocupação,Peças_max,Peso_max_(kg),volume_util_caixa
0,Caixa 1,CX,380,285,285,0.9,170,23,27778950.0
1,Caixa 2,CX,586,436,272,1.2,170,23,83393894.4
2,Caixa 3,CX,728,427,270,0.9,170,23,75538008.0
3,Caixa 1,EN,380,285,285,0.9,512,23,27778950.0
4,Caixa 2,EN,586,436,272,1.2,512,23,83393894.4
5,Caixa 3,EN,728,427,270,0.9,512,23,75538008.0

Temos um tipo de caixa padrão para cada tipo de buffer

In [42]:
df_caixas_padrao = df_caixas_tipo.loc[[1, 5]]
df_caixas_padrao

,Tipo,Tipo_de_buffer,Comprimento,Largura,Altura,Fator_de_ocupação,Peças_max,Peso_max_(kg),volume_util_caixa
1,Caixa 2,CX,586,436,272,1.2,170,23,83393894.4
5,Caixa 3,EN,728,427,270,0.9,512,23,75538008.0

In [43]:
df_caixas_padrao[['Tipo','Tipo_de_buffer']] = df_caixas_padrao[['Tipo','Tipo_de_buffer']].astype('string')

In [44]:
df_caixas_padrao.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 1 to 5
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Tipo               2 non-null      string
 1   Tipo_de_buffer     2 non-null      string
 2   Comprimento        2 non-null      int64
 3   Largura            2 non-null      int64
 4   Altura             2 non-null      int64
 5   Fator_de_ocupação  2 non-null      float64
 6   Peças_max          2 non-null      int64
 7   Peso_max_(kg)      2 non-null      int64
 8   volume_util_caixa  2 non-null      float64
dtypes: float64(2), int64(5), string(2)
memory usage: 160.0 bytes

In [45]:
df_process.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58458 entries, 0 to 58457
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Id                         58458 non-null  int64
 1   Ordem_de_produção          58458 non-null  int64
 2   Data_da_ordem_de_produção  58458 non-null  datetime64[ns]
 3   Produto                    58458 non-null  int64
 4   Comprimento_unit           58458 non-null  int64
 5   Largura_unit               58458 non-null  int64
 6   Altura_unit                58458 non-null  int64
 7   Peso_unit                  58458 non-null  float64
 8   Peças                      58458 non-null  int64
 9   Caixa_padrão               58458 non-null  object
 10  Loja                       58458 non-null  string
 11  Classe_de_onda             58458 non-null  string
 12  Tipo_de_buffer             58458 non-null  string
 13  Item_pai                   58458 non-null  int64
 14  Cor                        58458 non-null  int64
 15  Tamanho                    58458 non-null  int64
 16  Inner                      58458 non-null  int64
 17  Rota                       58458 non-null  int64
 18  Capacidade                 58458 non-null  float64
 19  pai-cor                    58458 non-null  object
 20  Volume_unit                58458 non-null  int64
 21  Volume_total               58458 non-null  int64
 22  Peso_total                 58458 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(14), object(2), string(3)
memory usage: 10.3+ MB

In [46]:
df_process[['Loja','Tipo_de_buffer','Classe_de_onda']] = df_process[['Loja','Tipo_de_buffer','Classe_de_onda']].astype('string')

In [47]:
df_process['chave_loja_buffer_onda'] = df_process['Loja'] + '_' + df_process['Tipo_de_buffer'] + '_' + df_process['Classe_de_onda']
df_process['chave_loja_buffer_onda']

0          2_CX_2
1          3_CX_1
2          6_CX_6
3          7_CX_4
4          2_CX_4
           ...
58453      9_EN_3
58454    149_EN_2
58455     50_EN_4
58456     82_EN_2
58457     11_EN_1
Name: chave_loja_buffer_onda, Length: 58458, dtype: string

In [48]:
df_process.groupby('chave_loja_buffer_onda')['Peças'].sum().sort_values(ascending=False).head(180)

chave_loja_buffer_onda
10_EN_3    2470
28_EN_4    2392
16_EN_3    1636
2_EN_3     1526
8_EN_4     1369
           ...
10_CX_7     336
51_EN_1     335
64_CX_4     329
2_CX_6      326
30_EN_3     325
Name: Peças, Length: 180, dtype: int64

In [49]:
df_process_situacao2 = df_process.query('chave_loja_buffer_onda == "2_CX_3"')
df_process_situacao2

,Id,Ordem_de_produção,Data_da_ordem_de_produção,Produto,Comprimento_unit,Largura_unit,Altura_unit,Peso_unit,Peças,Caixa_padrão,...,Cor,Tamanho,Inner,Rota,Capacidade,pai-cor,Volume_unit,Volume_total,Peso_total,chave_loja_buffer_onda
704,704,1237,2023-11-16,736849445,447,268,20,0.284,2,CARTON_M,...,347,6,1,11,2.720000e+10,992-347,2395920,4791840,0.568,2_CX_3
1439,1439,59,2023-11-14,841264182,437,192,16,0.218,5,CARTON_M,...,37,3,1,11,2.720000e+10,59-37,1342464,6712320,1.090,2_CX_3
1753,1753,987,2023-11-14,882057278,449,239,62,0.450,5,CARTON_M,...,9,5,1,11,2.720000e+10,827-9,6653282,33266410,2.250,2_CX_3
2191,2191,933,2023-11-14,856853019,564,277,24,0.442,2,CARTON_M,...,4,6,1,11,2.720000e+10,792-4,3749472,7498944,0.884,2_CX_3
2210,2210,989,2023-11-14,675645211,407,226,27,0.315,2,CARTON_M,...,4,1,1,11,2.720000e+10,829-4,2483514,4967028,0.630,2_CX_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29881,29881,7585,2023-11-14,841264123,446,201,17,0.219,9,CARTON_M,...,4,3,1,11,2.720000e+10,59-4,1523982,13715838,1.971,2_CX_3
30129,30129,1723,2023-11-07,595813106,335,172,38,0.150,1,CARTON_M,...,77,3,1,11,2.720000e+10,503-77,2189560,2189560,0.150,2_CX_3
30672,30672,1534,2023-11-07,817850042,364,288,23,0.213,1,CARTON_M,...,137,1,1,11,2.720000e+10,1155-137,2411136,2411136,0.213,2_CX_3
30771,30771,1534,2023-11-07,548143429,317,197,22,0.120,2,CARTON_M,...,3,5,1,11,2.720000e+10,1155-3,1373878,2747756,0.240,2_CX_3
31016,31016,1842,2023-11-07,548143429,317,197,22,0.120,1,CARTON_M,...,3,5,1,11,2.720000e+10,1155-3,1373878,1373878,0.120,2_CX_3

In [50]:
df_process_situacao2['Peças'].sum()

189

In [51]:
df_process_situacao2.describe().T

,count,mean,min,25%,50%,75%,max,std
Id,62.0,14566.887097,704.0,7517.75,14389.0,22105.25,31016.0,9360.050105
Ordem_de_produção,62.0,2853.306452,59.0,1534.0,1870.5,3774.5,7688.0,1930.181564
Data_da_ordem_de_produção,62,2023-11-11 06:58:03.870967808,2023-11-07 00:00:00,2023-11-07 00:00:00,2023-11-07 00:00:00,2023-11-14 00:00:00,2023-11-27 00:00:00,NaN
Produto,62.0,711792870.145161,519980324.0,555234635.0,742248804.0,844408471.0,885051605.0,142475093.610776
Comprimento_unit,62.0,369.145161,237.0,317.0,349.5,420.25,564.0,69.3215
Largura_unit,62.0,237.112903,169.0,198.75,229.5,279.5,327.0,46.50722
Altura_unit,62.0,24.709677,10.0,16.25,23.0,27.75,62.0,11.403748
Peso_unit,62.0,0.226597,0.11,0.166,0.206,0.2485,0.73,0.107469
Peças,62.0,3.048387,1.0,1.0,2.0,4.0,12.0,2.620396
Item_pai,62.0,834.483871,19.0,503.0,809.5,1155.0,2367.0,522.08437
Cor,62.0,63.532258,1.0,4.0,4.0,77.0,434.0,108.847422
Tamanho,62.0,5.0,1.0,3.0,5.0,6.0,31.0,4.368291
Inner,62.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
Rota,62.0,11.0,11.0,11.0,11.0,11.0,11.0,0.0
Capacidade,62.0,27200000000.0,27200000000.0,27200000000.0,27200000000.0,27200000000.0,27200000000.0,0.0
Volume_unit,62.0,2090503.387097,998688.0,1473932.0,1888978.0,2407332.0,6691761.0,1072803.835181
Volume_total,62.0,6456211.806452,998688.0,2185750.0,4580400.0,7841604.0,33266410.0,6485958.207893
Peso_total,62.0,0.707661,0.11,0.21375,0.41,0.887,2.93,0.6937

In [52]:
df_process_situacao2.columns

Index(['Id', 'Ordem_de_produção', 'Data_da_ordem_de_produção', 'Produto',
       'Comprimento_unit', 'Largura_unit', 'Altura_unit', 'Peso_unit', 'Peças',
       'Caixa_padrão', 'Loja', 'Classe_de_onda', 'Tipo_de_buffer', 'Item_pai',
       'Cor', 'Tamanho', 'Inner', 'Rota', 'Capacidade', 'pai-cor',
       'Volume_unit', 'Volume_total', 'Peso_total', 'chave_loja_buffer_onda'],
      dtype='object')

In [53]:
df_process_situacao2['Tipo_de_buffer'].unique()

<StringArray>
['CX']
Length: 1, dtype: string

### 1.2.2- Entrada de dados no modelo

In [54]:
df_caixas_padrao

,Tipo,Tipo_de_buffer,Comprimento,Largura,Altura,Fator_de_ocupação,Peças_max,Peso_max_(kg),volume_util_caixa
1,Caixa 2,CX,586,436,272,1.2,170,23,83393894.4
5,Caixa 3,EN,728,427,270,0.9,512,23,75538008.0

Tipo de buffer da lista selecionada:

In [55]:
df_process_situacao2['Tipo_de_buffer'].unique()[0]

'CX'

In [56]:
peso =  list(df_process_situacao2['Peso_unit'].values)
pecas = list(df_process_situacao2['Peças'].values)
volume = list(df_process_situacao2['Volume_unit'].values)
inner = list(df_process_situacao2['Inner'].values)

In [57]:
buffer = df_process_situacao2['Tipo_de_buffer'].unique()[0]
cp = df_caixas_padrao.query(f'Tipo_de_buffer == "{buffer}"')['Peso_max_(kg)'].values

print(cp)

[23]

In [58]:
ampl.param["n"] = len(pecas)

ampl.param["cp"] = cp
# ampl.param["cv"] = cv
# ampl.param["np"] = np

w = peso
v = volume
d = pecas
inner = inner

ampl.param["w"] = {i: w[i - 1] for i in range(1, len(w) + 1)}
# ampl.param["v"] = {i: v[i - 1] for i in range(1, len(v) + 1)}
ampl.param["inner"] = {i: inner[i - 1] for i in range(1, len(inner) + 1)}
ampl.param["d"] = {i: d[i - 1] for i in range(1, len(d) + 1)}

In [59]:
ampl.getValue('maxbins')

7

In [60]:
ampl.getValue('soma')

189

In [61]:
ampl.getValue('maxVal')

0.73

In [62]:
any(x is None for x in peso)

False

### 1.2.3- Solver Gurobi

In [63]:
ampl.option["solver"] = "gurobi"
ampl.option["gurobi_options"] = "outlev=1"
ampl.solve()

Gurobi 11.0.1: Set parameter LogToConsole to value 1
  tech:outlev = 1
Set parameter InfUnbdInfo to value 1
Gurobi Optimizer version 11.0.1 build v11.0.1rc0 (win64 - Windows 11.0 (22631.2))

CPU model: 13th Gen Intel(R) Core(TM) i7-1355U, instruction set [SSE2|AVX|AVX2]
Thread count: 10 physical cores, 12 logical processors, using up to 12 threads

Optimize a model with 69 rows, 441 columns and 875 nonzeros
Model fingerprint: 0x26cf4c09
Variable types: 0 continuous, 441 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e-01, 2e+01]
  Objective range  [1e+00, 1e+00]
  Bounds range     [1e+00, 1e+01]
  RHS range        [1e+00, 1e+01]
Found heuristic solution: objective 7.0000000
Presolve time: 0.00s
Presolved: 69 rows, 441 columns, 875 nonzeros
Variable types: 0 continuous, 441 integer (168 binary)

Root relaxation: objective 1.907609e+00, 104 iterations, 0.00 seconds (0.00 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0    1.90761    0    4    7.00000    1.90761  72.7%     -    0s
H    0     0                       4.0000000    1.90761  52.3%     -    0s
H    0     0                       3.0000000    1.90761  36.4%     -    0s
H    0     0                       2.0000000    1.90761  4.62%     -    0s
     0     0    1.90761    0    4    2.00000    1.90761  4.62%     -    0s

Explored 1 nodes (104 simplex iterations) in 0.01 seconds (0.00 work units)
Thread count was 12 (of 12 available processors)

Solution count 4: 2 3 4 7

Optimal solution found (tolerance 1.00e-04)
Best objective 2.000000000000e+00, best bound 2.000000000000e+00, gap 0.0000%
Gurobi 11.0.1: optimal solution; objective 2
104 simplex iterations
1 branching node

In [64]:
%%ampl_eval
display {j in J} y[j];
display {i in I, j in J} e[i,j];

y[j] [*] :=
1  0
2  0
3  0
4  0
5  0
6  1
7  1
;

e[i,j] [*,*]
:    1   2   3   4   5   6    7     :=
1    0   0   0   0   0    0    2
2    0   0   0   0   0    0    5
3    0   0   0   0   0    5    0
4    0   0   0   0   0    0    2
5    0   0   0   0   0    0    2
6    0   0   0   0   0    0   10
7    0   0   0   0   0    0    4
8    0   0   0   0   0    0    1
9    0   0   0   0   0   10    0
10   0   0   0   0   0    0    1
11   0   0   0   0   0    0    1
12   0   0   0   0   0    0    4
13   0   0   0   0   0    0    4
14   0   0   0   0   0    0    7
15   0   0   0   0   0    0    7
16   0   0   0   0   0    0    3
17   0   0   0   0   0    0    1
18   0   0   0   0   0    7    0
19   0   0   0   0   0    0    3
20   0   0   0   0   0    0    1
21   0   0   0   0   0    0    3
22   0   0   0   0   0    0    1
23   0   0   0   0   0    0    3
24   0   0   0   0   0   12    0
25   0   0   0   0   0    0    2
26   0   0   0   0   0    0    2
27   0   0   0   0   0    0    1
28   0   0   0   0   0    0    1
29   0   0   0   0   0    3    0
30   0   0   0   0   0    0    1
31   0   0   0   0   0    3    0
32   0   0   0   0   0    0    1
33   0   0   0   0   0    0    1
34   0   0   0   0   0    7    0
35   0   0   0   0   0    0    1
36   0   0   0   0   0    0    1
37   0   0   0   0   0    2    0
38   0   0   0   0   0    3    0
39   0   0   0   0   0    2    0
40   0   0   0   0   0    0    3
41   0   0   0   0   0    0    1
42   0   0   0   0   0    0    5
43   0   0   0   0   0    0    1
44   0   0   0   0   0    0    2
45   0   0   0   0   0    5    0
46   0   0   0   0   0    0    3
47   0   0   0   0   0    7    0
48   0   0   0   0   0    0    1
49   0   0   0   0   0    2    0
50   0   0   0   0   0    2    0
51   0   0   0   0   0    0    1
52   0   0   0   0   0    0    2
53   0   0   0   0   0    0    1
54   0   0   0   0   0    4    0
55   0   0   0   0   0    0    1
56   0   0   0   0   0    3    0
57   0   0   0   0   0    0    1
58   0   0   0   0   0    9    0
59   0   0   0   0   0    0    1
60   0   0   0   0   0    0    1
61   0   0   0   0   0    2    0
62   0   0   0   0   0    0    1
;

In [65]:
e_var = ampl.getVariable('e').getValues().toPandas()
e_var = e_var.reset_index()
e_var.columns = ['itens','caixa', 'quantidade']

e_var

     itens  caixa  quantidade
0        1      1           0
1        1      2           0
2        1      3           0
3        1      4           0
4        1      5           0
..     ...    ...         ...
429     62      3           0
430     62      4           0
431     62      5           0
432     62      6           0
433     62      7           1

[434 rows x 3 columns]

In [66]:
resultado = e_var.pivot(index='itens', columns='caixa', values='quantidade')

resultado

caixa  1  2  3  4  5  6  7
itens
1      0  0  0  0  0  0  2
2      0  0  0  0  0  0  5
3      0  0  0  0  0  5  0
4      0  0  0  0  0  0  2
5      0  0  0  0  0  0  2
...   .. .. .. .. .. .. ..
58     0  0  0  0  0  9  0
59     0  0  0  0  0  0  1
60     0  0  0  0  0  0  1
61     0  0  0  0  0  2  0
62     0  0  0  0  0  0  1

[62 rows x 7 columns]

In [67]:
y_var = ampl.getVariable('y').getValues().toPandas()
y_var

   y.val
1      0
2      0
3      0
4      0
5      0
6      1
7      1

In [68]:
resultado_final_s2 = resultado.loc[:, (resultado != 0).any(axis=0)]
with pd.option_context('display.max_rows', None):
    display(resultado_final_s2)

caixa   6   7
itens
1       0   2
2       0   5
3       5   0
4       0   2
5       0   2
6       0  10
7       0   4
8       0   1
9      10   0
10      0   1
11      0   1
12      0   4
13      0   4
14      0   7
15      0   7
16      0   3
17      0   1
18      7   0
19      0   3
20      0   1
21      0   3
22      0   1
23      0   3
24     12   0
25      0   2
26      0   2
27      0   1
28      0   1
29      3   0
30      0   1
31      3   0
32      0   1
33      0   1
34      7   0
35      0   1
36      0   1
37      2   0
38      3   0
39      2   0
40      0   3
41      0   1
42      0   5
43      0   1
44      0   2
45      5   0
46      0   3
47      7   0
48      0   1
49      2   0
50      2   0
51      0   1
52      0   2
53      0   1
54      4   0
55      0   1
56      3   0
57      0   1
58      9   0
59      0   1
60      0   1
61      2   0
62      0   1

In [69]:
for i in resultado_final_s2[[6,7]].columns.values:
    print(f"quantidade itens na mochila {i}: {resultado_final_s2[i].sum()}")

quantidade itens na mochila 6: 88
quantidade itens na mochila 7: 101

### 1.2.4- Outros solvers

#### Solver GCG

In [70]:
ampl.option["solver"] = "gcg"
ampl.option["gcg_options"] = "outlev=1"
ampl.solve()

GCG 4.0.0:   tech:outlev = 1
 added complete decomp for original problem with 62 blocks and 0 masterconss, 414 linkingvars, 0 mastervars, and max white score of   0.030826
presolving:
(round 1, exhaustive) 0 del vars, 0 del conss, 0 add conss, 0 chg bounds, 0 chg sides, 0 chg coeffs, 23 upgd conss, 0 impls, 23 clqs
   (0.0s) probing cycle finished: starting next cycle
presolving (2 rounds: 2 fast, 2 medium, 2 exhaustive):
 0 deleted vars, 0 deleted constraints, 0 added constraints, 0 tightened bounds, 0 added holes, 0 changed sides, 0 changed coefficients
 0 implications, 184 cliques
presolved problem has 441 variables (168 bin, 273 int, 0 impl, 0 cont) and 69 constraints
     23 constraints of type <setppc>
     46 constraints of type <linear>
transformed objective value is always integral (scale: 1)
Presolving Time: 0.00
 calculated translation; number of missing constraints: 0; number of other partialdecs: 1
Preexisting decomposition found. Solution process started...

A Dantzig-Wolfe reformulation is applied to solve the original problem.
Chosen structure has 62 blocks, 427 linking variables, and 0 linking constraints.
This decomposition has a maxwhite score of 0.030826.

  time | node  | left  |SLP iter|MLP iter|LP it/n| mem |mdpt |ovars|mvars|ocons|mcons|mcuts|  dualbound   | primalbound  |  deg   |  gap
p  0.0s|     1 |     0 |      0 |      0 |     - |  26M|   0 | 441 |   0 |  70 |   0 |   0 | 0.000000e+00 | 7.000000e+00 |   --   |    Inf
i  0.0s|     1 |     0 |      0 |      0 |     - |  26M|   0 | 441 |   0 |  70 |   0 |   0 | 0.000000e+00 | 2.000000e+00 |   --   |    Inf
   0.0s|     1 |     0 |      0 |      0 |     - |  26M|   0 | 441 |   0 |  70 |   0 |   0 | 2.000000e+00 | 2.000000e+00 |   --   |   0.00%

SCIP Status        : problem is solved [optimal solution found]
Solving Time (sec) : 0.00
Solving Nodes      : 1
Primal Bound       : +2.00000000000000e+00 (2 solutions)
Dual Bound         : +2.00000000000000e+00
Gap                : 0.00 %
WARNING: Dual information only available for pure LPs (only continuous variables).
GCG 4.0.0: optimal solution; objective 2
76 simplex iterations
1 branching nodes

In [71]:
%%ampl_eval
display {j in J} y[j];
display {i in I, j in J} e[i,j];

y[j] [*] :=
1  1
2  1
3  0
4  0
5  0
6  0
7  0
;

e[i,j] [*,*]
:    1    2    3   4   5   6   7    :=
1     2    0   0   0   0   0   0
2     5    0   0   0   0   0   0
3     5    0   0   0   0   0   0
4     2    0   0   0   0   0   0
5     2    0   0   0   0   0   0
6    10    0   0   0   0   0   0
7     4    0   0   0   0   0   0
8     1    0   0   0   0   0   0
9    10    0   0   0   0   0   0
10    1    0   0   0   0   0   0
11    1    0   0   0   0   0   0
12    4    0   0   0   0   0   0
13    4    0   0   0   0   0   0
14    7    0   0   0   0   0   0
15    7    0   0   0   0   0   0
16    3    0   0   0   0   0   0
17    1    0   0   0   0   0   0
18    7    0   0   0   0   0   0
19    0    3   0   0   0   0   0
20    1    0   0   0   0   0   0
21    0    3   0   0   0   0   0
22    1    0   0   0   0   0   0
23    3    0   0   0   0   0   0
24    0   12   0   0   0   0   0
25    2    0   0   0   0   0   0
26    0    2   0   0   0   0   0
27    1    0   0   0   0   0   0
28    1    0   0   0   0   0   0
29    0    3   0   0   0   0   0
30    1    0   0   0   0   0   0
31    0    3   0   0   0   0   0
32    1    0   0   0   0   0   0
33    1    0   0   0   0   0   0
34    0    7   0   0   0   0   0
35    1    0   0   0   0   0   0
36    1    0   0   0   0   0   0
37    0    2   0   0   0   0   0
38    0    3   0   0   0   0   0
39    0    2   0   0   0   0   0
40    0    3   0   0   0   0   0
41    1    0   0   0   0   0   0
42    0    5   0   0   0   0   0
43    1    0   0   0   0   0   0
44    0    2   0   0   0   0   0
45    0    5   0   0   0   0   0
46    0    3   0   0   0   0   0
47    0    7   0   0   0   0   0
48    1    0   0   0   0   0   0
49    0    2   0   0   0   0   0
50    0    2   0   0   0   0   0
51    1    0   0   0   0   0   0
52    0    2   0   0   0   0   0
53    1    0   0   0   0   0   0
54    0    4   0   0   0   0   0
55    1    0   0   0   0   0   0
56    0    3   0   0   0   0   0
57    1    0   0   0   0   0   0
58    0    9   0   0   0   0   0
59    1    0   0   0   0   0   0
60    1    0   0   0   0   0   0
61    0    2   0   0   0   0   0
62    1    0   0   0   0   0   0
;

In [72]:
e_var_GCG = ampl.getVariable('e').getValues().toPandas()
e_var_GCG = e_var_GCG.reset_index()
e_var_GCG.columns = ['itens','caixa', 'quantidade']

resultado_GCG = e_var_GCG.pivot(index='itens', columns='caixa', values='quantidade')
resultado_GCG

caixa  1  2  3  4  5  6  7
itens
1      2  0  0  0  0  0  0
2      5  0  0  0  0  0  0
3      5  0  0  0  0  0  0
4      2  0  0  0  0  0  0
5      2  0  0  0  0  0  0
...   .. .. .. .. .. .. ..
58     0  9  0  0  0  0  0
59     1  0  0  0  0  0  0
60     1  0  0  0  0  0  0
61     0  2  0  0  0  0  0
62     1  0  0  0  0  0  0

[62 rows x 7 columns]

In [73]:
resultado_GCG = resultado_GCG.reset_index()
resultado_GCG.columns.name = None
resultado_GCG['id'] = ids

resultado_GCG

    itens  1  2  3  4  5  6  7     id
0       1  2  0  0  0  0  0  0    704
1       2  5  0  0  0  0  0  0   1439
2       3  5  0  0  0  0  0  0   1753
3       4  2  0  0  0  0  0  0   2191
4       5  2  0  0  0  0  0  0   2210
..    ... .. .. .. .. .. .. ..    ...
57     58  0  9  0  0  0  0  0  29881
58     59  1  0  0  0  0  0  0  30129
59     60  1  0  0  0  0  0  0  30672
60     61  0  2  0  0  0  0  0  30771
61     62  1  0  0  0  0  0  0  31016

[62 rows x 9 columns]

In [74]:
resultado_final_s2_GCG = resultado_GCG.loc[:, (resultado_GCG != 0).any(axis=0)]
with pd.option_context('display.max_rows', None):
    display(resultado_final_s2_GCG)

    itens   1   2     id
0       1   2   0    704
1       2   5   0   1439
2       3   5   0   1753
3       4   2   0   2191
4       5   2   0   2210
5       6  10   0   2244
6       7   4   0   2434
7       8   1   0   2484
8       9  10   0   2654
9      10   1   0   3473
10     11   1   0   3929
11     12   4   0   4071
12     13   4   0   4892
13     14   7   0   5139
14     15   7   0   5940
15     16   3   0   7427
16     17   1   0   7790
17     18   7   0   8247
18     19   0   3   8301
19     20   1   0   8465
20     21   0   3   8607
21     22   1   0   8900
22     23   3   0   9082
23     24   0  12   9475
24     25   2   0  10037
25     26   0   2  10429
26     27   1   0  10545
27     28   1   0  11418
28     29   0   3  12419
29     30   1   0  12713
30     31   0   3  14135
31     32   1   0  14643
32     33   1   0  15121
33     34   0   7  15363
34     35   1   0  15368
35     36   1   0  16320
36     37   0   2  17134
37     38   0   3  17178
38     39   0   2  17374
39     40   0   3  17382
40     41   1   0  17671
41     42   0   5  18545
42     43   1   0  18806
43     44   0   2  20472
44     45   0   5  20840
45     46   0   3  21950
46     47   0   7  22157
47     48   1   0  23199
48     49   0   2  23586
49     50   0   2  24045
50     51   1   0  24060
51     52   0   2  24515
52     53   1   0  27437
53     54   0   4  27796
54     55   1   0  28201
55     56   0   3  28466
56     57   1   0  29502
57     58   0   9  29881
58     59   1   0  30129
59     60   1   0  30672
60     61   0   2  30771
61     62   1   0  31016

In [75]:
for i in resultado_final_s2_GCG.drop(columns=['itens', 'id']).columns.values:
    print(f"quantidade itens na mochila {i}: {resultado_final_s2_GCG[i].sum()}")

quantidade itens na mochila 1: 100
quantidade itens na mochila 2: 89

#### Solver HIGHS

In [76]:
ampl.option["solver"] = "highs"
ampl.option["highs_options"] = "outlev=1"
ampl.solve()

HiGHS 1.7.0:   tech:outlev = 1
Running HiGHS 1.7.0 (git hash: 50670fd): Copyright (c) 2024 HiGHS under MIT licence terms
Coefficient ranges:
  Matrix [1e-01, 2e+01]
  Cost   [1e+00, 1e+00]
  Bound  [1e+00, 1e+01]
  RHS    [1e+00, 1e+01]
Assessing feasibility of MIP using primal feasibility and integrality tolerance of       1e-06
Solution has               num          max          sum
Col     infeasibilities      0            0            0
Integer infeasibilities      0            0            0
Row     infeasibilities      0            0            0
Row     residuals            0            0            0
Presolving model
69 rows, 441 cols, 875 nonzeros  0s
69 rows, 441 cols, 875 nonzeros  0s

MIP start solution is feasible, objective value is 2
Objective function is integral with scale 1

Solving MIP model with:
   69 rows
   441 cols (168 binary, 273 integer, 0 implied int., 0 continuous)
   875 nonzeros

        Nodes      |    B&B Tree     |            Objective Bounds              |  Dynamic Constraints |       Work
     Proc. InQueue |  Leaves   Expl. | BestBound       BestSol              Gap |   Cuts   InLp Confl. | LpIters     Time

         0       0         0   0.00%   0               2                100.00%        0      0      0         0     0.0s
         0       0         0   0.00%   1.907608696     2                  4.62%        0      0      0        76     0.0s

Symmetry detection completed in 0.0s
Found 13 generators


Restarting search from the root node
Model after restart has 69 rows, 441 cols (168 bin., 273 int., 0 impl., 0 cont.), and 875 nonzeros

      2894       0         0   0.00%   1.907608696     2                  4.62%       45      0      0     11776     0.9s
      2894       0         0   0.00%   1.907608696     2                  4.62%       45     12      0     11788     0.9s

Symmetry detection completed in 0.0s
Found 13 generators


Restarting search from the root node
Model after restart has 59 rows, 358 cols (85 bin., 273 int., 0 impl., 0 cont.), and 710 nonzeros

      8501       0         0   0.00%   1.907608696     2                  4.62%       51      0      0     29573     3.6s
      8501       0         0   0.00%   1.907608696     2                  4.62%       51      3      0     29601     3.6s

Solving report
  Status            Optimal
  Primal bound      2
  Dual bound        2
  Gap               0% (tolerance: 0.01%)
  Solution status   feasible
                    2 (objective)
                    0 (bound viol.)
                    0 (int. viol.)
                    0 (row viol.)
  Timing            3.61 (total)
                    0.01 (presolve)
                    0.00 (postsolve)
  Nodes             8502
  LP iterations     29601 (total)
                    18 (strong br.)
                    1948 (separation)
                    3290 (heuristics)
HiGHS 1.7.0: optimal solution; objective 2
29601 simplex iterations
8502 branching nodes

In [77]:
%%ampl_eval
display {j in J} y[j];
display {i in I, j in J} e[i,j];

y[j] [*] :=
1  1
2  1
3  0
4  0
5  0
6  0
7  0
;

e[i,j] [*,*]
:    1    2    3   4   5   6   7    :=
1     2    0   0   0   0   0   0
2     5    0   0   0   0   0   0
3     5    0   0   0   0   0   0
4     2    0   0   0   0   0   0
5     2    0   0   0   0   0   0
6    10    0   0   0   0   0   0
7     4    0   0   0   0   0   0
8     1    0   0   0   0   0   0
9    10    0   0   0   0   0   0
10    1    0   0   0   0   0   0
11    1    0   0   0   0   0   0
12    4    0   0   0   0   0   0
13    4    0   0   0   0   0   0
14    7    0   0   0   0   0   0
15    7    0   0   0   0   0   0
16    3    0   0   0   0   0   0
17    1    0   0   0   0   0   0
18    7    0   0   0   0   0   0
19    0    3   0   0   0   0   0
20    1    0   0   0   0   0   0
21    0    3   0   0   0   0   0
22    1    0   0   0   0   0   0
23    3    0   0   0   0   0   0
24    0   12   0   0   0   0   0
25    2    0   0   0   0   0   0
26    0    2   0   0   0   0   0
27    1    0   0   0   0   0   0
28    1    0   0   0   0   0   0
29    0    3   0   0   0   0   0
30    1    0   0   0   0   0   0
31    0    3   0   0   0   0   0
32    1    0   0   0   0   0   0
33    1    0   0   0   0   0   0
34    0    7   0   0   0   0   0
35    1    0   0   0   0   0   0
36    1    0   0   0   0   0   0
37    0    2   0   0   0   0   0
38    0    3   0   0   0   0   0
39    0    2   0   0   0   0   0
40    0    3   0   0   0   0   0
41    1    0   0   0   0   0   0
42    0    5   0   0   0   0   0
43    1    0   0   0   0   0   0
44    0    2   0   0   0   0   0
45    0    5   0   0   0   0   0
46    0    3   0   0   0   0   0
47    0    7   0   0   0   0   0
48    1    0   0   0   0   0   0
49    0    2   0   0   0   0   0
50    0    2   0   0   0   0   0
51    1    0   0   0   0   0   0
52    0    2   0   0   0   0   0
53    1    0   0   0   0   0   0
54    0    4   0   0   0   0   0
55    1    0   0   0   0   0   0
56    0    3   0   0   0   0   0
57    1    0   0   0   0   0   0
58    0    9   0   0   0   0   0
59    1    0   0   0   0   0   0
60    1    0   0   0   0   0   0
61    0    2   0   0   0   0   0
62    1    0   0   0   0   0   0
;

In [78]:
e_var_highs = ampl.getVariable('e').getValues().toPandas()
e_var_highs = e_var_highs.reset_index()
e_var_highs.columns = ['itens','caixa', 'quantidade']

resultado_highs = e_var_highs.pivot(index='itens', columns='caixa', values='quantidade')
resultado_highs

caixa  1  2  3  4  5  6  7
itens
1      2  0  0  0  0  0  0
2      5  0  0  0  0  0  0
3      5  0  0  0  0  0  0
4      2  0  0  0  0  0  0
5      2  0  0  0  0  0  0
...   .. .. .. .. .. .. ..
58     0  9  0  0  0  0  0
59     1  0  0  0  0  0  0
60     1  0  0  0  0  0  0
61     0  2  0  0  0  0  0
62     1  0  0  0  0  0  0

[62 rows x 7 columns]

In [79]:
resultado_highs = resultado_highs.reset_index()
resultado_highs.columns.name = None
resultado_highs['id'] = ids

resultado_final_s2_highs = resultado_highs.loc[:, (resultado_highs != 0).any(axis=0)]
with pd.option_context('display.max_rows', None):
    display(resultado_final_s2_highs)

    itens   1   2     id
0       1   2   0    704
1       2   5   0   1439
2       3   5   0   1753
3       4   2   0   2191
4       5   2   0   2210
5       6  10   0   2244
6       7   4   0   2434
7       8   1   0   2484
8       9  10   0   2654
9      10   1   0   3473
10     11   1   0   3929
11     12   4   0   4071
12     13   4   0   4892
13     14   7   0   5139
14     15   7   0   5940
15     16   3   0   7427
16     17   1   0   7790
17     18   7   0   8247
18     19   0   3   8301
19     20   1   0   8465
20     21   0   3   8607
21     22   1   0   8900
22     23   3   0   9082
23     24   0  12   9475
24     25   2   0  10037
25     26   0   2  10429
26     27   1   0  10545
27     28   1   0  11418
28     29   0   3  12419
29     30   1   0  12713
30     31   0   3  14135
31     32   1   0  14643
32     33   1   0  15121
33     34   0   7  15363
34     35   1   0  15368
35     36   1   0  16320
36     37   0   2  17134
37     38   0   3  17178
38     39   0   2  17374
39     40   0   3  17382
40     41   1   0  17671
41     42   0   5  18545
42     43   1   0  18806
43     44   0   2  20472
44     45   0   5  20840
45     46   0   3  21950
46     47   0   7  22157
47     48   1   0  23199
48     49   0   2  23586
49     50   0   2  24045
50     51   1   0  24060
51     52   0   2  24515
52     53   1   0  27437
53     54   0   4  27796
54     55   1   0  28201
55     56   0   3  28466
56     57   1   0  29502
57     58   0   9  29881
58     59   1   0  30129
59     60   1   0  30672
60     61   0   2  30771
61     62   1   0  31016

In [80]:
resultado_final_s2_highs.columns

Index(['itens', 1, 2, 'id'], dtype='object')

In [81]:
for i in resultado_final_s2_highs.drop(columns=['itens', 'id']).columns.values:
    print(f"quantidade itens na mochila {i}: {resultado_final_s2_highs[i].sum()}")

quantidade itens na mochila 1: 100
quantidade itens na mochila 2: 89

## 1.3- CSP com problemas do negócio - versão 2

Será adicionada a restrição de número máximo de peças por caixa.

Modelagem matemática 

Dado que temos $n$ tipos de itens $i$ para empacotar, cada um com peso $w_{i}$ e um múltiplo $inner_{i}$ da quantiade de itens a serem selecioner uma demanda $d_{i}$, para todo $i \in \{1,...,n\}$, e um número $m$ de mochilas (caixas) idênticas com capacidade volumétrica $cv$, uma capacidade de peso $cp$ e uma capacidade em número de peças $np$, então temos:

$$
\begin{aligned}
\text{minimizar} \quad &\sum_{j = 1}^{m} y_{j} \\
\text{sujeito a} \quad &\sum_{i = 1}^{n} w_{i} \xi_{i j}*inner_{i} \leq cp*y_{j} \quad \forall j \in \{1,...,m\} \\
&\sum_{i = 1}^{n} \xi_{i j} *inner_{i} \leq np*y_{j} \quad \forall j \in \{1,...,m\} \\
&\sum_{j = 1}^{m} \xi_{i j} *inner_{i} = d_{i} \quad \forall i \in \{1,...,n\} \\
&\xi_{i j} \geq0 \in \mathbb{Z} \quad \forall i \in \{1,...,n\}, j \in \{1,...,m\} \\
&y_{j} \in \{0,1\} \quad \forall j \in \{1,...,m\}
\end{aligned}
$$


 Seja $\quad$ $\xi_{i j}$= número de itens tipo $i$ adicionados na mochila $j$

In [82]:
%%ampl_eval
reset;

In [83]:
%%ampl_eval
param n;
param cp;
param np;

suffix master IN, binary;
suffix block IN, integer;

set I = 1..n ordered;
param w {I} > 0;
param inner{I} > 0;
param d {I} > 0;
param maxVal := max {i in I} w[i];
param soma := sum{i in I} d[i];
param maxbins := ceil(soma / floor(cp / maxVal));

set J = 1..maxbins;

var e {I,J} integer >= 0;
var y {J} binary;

minimize FO:  sum {j in J} y[j];

s.t. R1_capacidade_mochila_peso {j in J}:
   sum {i in I} w[i] * e[i,j] * inner[i] <= cp * y[j] suffix block j;

s.t. R3_capacidade_mochila_pecas {j in J}:
   sum {i in I} e[i,j] * inner[i] <= np * y[j] suffix block j;

s.t. R4_quantidade_demanda {i in I}:
   sum {j in J} e[i, j]* inner[i] = d[i] suffix block i;

### 1.3.1- Importar dados

In [84]:
df_process_situacao3 = df_process.query('chave_loja_buffer_onda == "2_CX_9"')
df_process_situacao3

,Id,Ordem_de_produção,Data_da_ordem_de_produção,Produto,Comprimento_unit,Largura_unit,Altura_unit,Peso_unit,Peças,Caixa_padrão,...,Cor,Tamanho,Inner,Rota,Capacidade,pai-cor,Volume_unit,Volume_total,Peso_total,chave_loja_buffer_onda
149,149,277,2023-11-14,768650318,300,172,89,0.260,24,CARTON_M,...,54,12,4,11,2.720000e+10,268-54,4592400,110217600,6.240,2_CX_9
221,221,407,2023-11-11,807049518,448,196,24,0.215,8,CARTON_M,...,18,6,2,11,2.720000e+10,391-18,2107392,16859136,1.720,2_CX_9
590,590,1027,2023-11-07,883874958,440,191,19,0.113,5,CARTON_M,...,124,5,1,11,2.720000e+10,433-124,1596760,7983800,0.565,2_CX_9
670,670,1172,2023-11-14,552909458,300,297,30,0.220,1,CARTON_M,...,3,3,1,11,2.720000e+10,151-3,2673000,2673000,0.220,2_CX_9
763,763,1172,2023-11-03,542140534,300,259,25,0.230,5,CARTON_M,...,74,1,1,11,2.720000e+10,135-74,1942500,9712500,1.150,2_CX_9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29581,29581,6690,2023-11-27,739849299,314,198,110,0.840,2,CARTON_M,...,53,52,1,11,2.720000e+10,360-53,6838920,13677840,1.680,2_CX_9
29690,29690,7034,2023-11-13,597109315,330,201,128,0.700,2,CARTON_M,...,42,18,1,11,2.720000e+10,1359-42,8490240,16980480,1.400,2_CX_9
29901,29901,6967,2023-11-14,625821175,300,174,12,0.078,32,CARTON_M,...,18,17,4,11,2.720000e+10,2354-18,626400,20044800,2.496,2_CX_9
30685,30685,7169,2023-11-13,550943311,325,201,116,0.620,3,CARTON_M,...,306,21,1,11,2.720000e+10,865-306,7577700,22733100,1.860,2_CX_9
31430,31430,7544,2023-11-03,869446308,441,211,23,0.210,16,CARTON_M,...,66,5,1,11,2.720000e+10,135-66,2140173,34242768,3.360,2_CX_9

### 1.3.2- Entrada de dados no modelo

In [85]:
peso =  list(df_process_situacao3['Peso_unit'].values)
pecas = list(df_process_situacao3['Peças'].values)
inner = list(df_process_situacao3['Inner'].values)

In [86]:
buffer = df_process_situacao3['Tipo_de_buffer'].unique()[0]
cp = df_caixas_padrao.query(f'Tipo_de_buffer == "{buffer}"')['Peso_max_(kg)'].values
np = 170  #reduzida a capacidade de peças para alterar os resultados do solver
print(cp, np)

[23] 170

In [87]:
ampl.param["n"] = len(pecas)

ampl.param["cp"] = cp
ampl.param["np"] = np

w = peso
d = pecas
inner = inner

ampl.param["w"] = {i: w[i - 1] for i in range(1, len(w) + 1)}
ampl.param["inner"] = {i: inner[i - 1] for i in range(1, len(inner) + 1)}
ampl.param["d"] = {i: d[i - 1] for i in range(1, len(d) + 1)}

verificações

In [88]:
ampl.getValue('cp')

23

In [89]:
ampl.getValue('maxVal')

0.98

In [90]:
ampl.getValue('soma')

913

In [91]:
ampl.getValue('maxbins')

40

In [92]:
ids =  list(df_process_situacao3['Id'].values)
ids

[149,
 221,
 590,
 670,
 763,
 788,
 879,
 1391,
 1447,
 1572,
 1694,
 1884,
 2041,
 2302,
 2382,
 2466,
 2755,
 3729,
 3790,
 3793,
 3944,
 5396,
 5452,
 7142,
 7342,
 7540,
 7831,
 7896,
 7914,
 8244,
 8311,
 8650,
 8684,
 8704,
 8866,
 9060,
 9073,
 9083,
 9099,
 9144,
 9498,
 9656,
 9775,
 9900,
 10311,
 10312,
 10324,
 10409,
 10493,
 11093,
 11098,
 11419,
 11555,
 13723,
 14099,
 14609,
 14709,
 14846,
 15665,
 15686,
 15790,
 15879,
 16301,
 16315,
 16443,
 16777,
 16846,
 16915,
 16922,
 17237,
 18577,
 18950,
 19531,
 20568,
 21204,
 21367,
 21686,
 21874,
 21895,
 22215,
 22216,
 22380,
 22571,
 22618,
 22768,
 22818,
 22977,
 22990,
 23009,
 23381,
 24353,
 24475,
 24611,
 24898,
 24996,
 25120,
 26031,
 27238,
 27267,
 27502,
 27791,
 27900,
 27920,
 28244,
 29072,
 29077,
 29442,
 29581,
 29690,
 29901,
 30685,
 31430]

### 1.3.3 Solver Gurobi

In [93]:
ampl.option["solver"] = "gurobi"
ampl.option["gurobi_options"] = "outlev=1"
ampl.solve()

Gurobi 11.0.1: Set parameter LogToConsole to value 1
  tech:outlev = 1

Sorry, a demo license is limited to 2000 variables and
2000 constraints and objectives for linear problems.
You have 4520 variables and 192 constraints.

Contact us at <licensing@ampl.com> or go to https://discuss.ampl.com/
for more information about licensing options.
exit value 1
<BREAK>

In [94]:
%%ampl_eval
display {j in J} y[j];
display {i in I, j in J} e[i,j];

y[j] [*] :=
 1 0    5 0    9 0   13 0   17 0   21 0   25 0   29 0   33 0   37 0
 2 0    6 0   10 0   14 0   18 0   22 0   26 0   30 0   34 0   38 0
 3 0    7 0   11 0   15 0   19 0   23 0   27 0   31 0   35 0   39 0
 4 0    8 0   12 0   16 0   20 0   24 0   28 0   32 0   36 0   40 0
;

e[i,j] [*,*]
:     1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19 :=
1     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
3     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
5     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
7     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
8     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
9     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
10    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
11    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
12    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
13    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
14    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
15    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
16    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
17    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
18    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
19    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
20    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
21    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
22    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
23    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
24    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
25    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
26    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
27    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
28    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
29    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
30    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
31    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
32    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
33    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
34    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
35    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
36    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
37    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
38    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
39    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
40    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
41    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
42    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
43    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
44    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
45    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
46    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
47    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
48    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
49    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
50    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
51    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
52    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
53    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
54    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
55    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
56    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
57    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
58    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
59    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
60    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
61    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
62    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
63    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
64    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
65    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
66    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
67    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
68    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
69    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
70    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
71    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
72    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
73    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
74    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
75    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
76    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
77    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
78    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
79    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
80    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
81    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
82    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
83    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
84    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
85    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
86    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
87    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
88    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
89    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
90    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
91    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
92    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
93    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
94    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
95    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
96    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
97    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
98    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
99    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
100   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
101   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
102   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
103   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
104   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
105   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
106   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
107   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
108   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
109   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
110   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
111   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
112   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0

:    20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38 :=
1     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
3     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
5     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
7     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
8     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
9     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
10    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
11    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
12    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
13    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
14    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
15    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
16    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
17    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
18    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
19    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
20    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
21    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
22    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
23    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
24    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
25    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
26    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
27    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
28    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
29    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
30    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
31    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
32    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
33    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
34    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
35    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
36    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
37    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
38    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
39    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
40    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
41    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
42    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
43    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
44    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
45    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
46    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
47    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
48    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
49    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
50    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
51    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
52    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
53    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
54    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
55    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
56    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
57    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
58    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
59    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
60    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
61    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
62    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
63    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
64    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
65    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
66    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
67    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
68    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
69    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
70    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
71    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
72    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
73    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
74    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
75    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
76    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
77    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
78    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
79    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
80    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
81    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
82    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
83    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
84    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
85    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
86    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
87    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
88    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
89    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
90    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
91    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
92    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
93    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
94    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
95    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
96    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
97    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
98    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
99    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
100   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
101   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
102   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
103   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
104   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
105   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
106   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
107   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
108   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
109   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
110   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
111   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
112   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0

:    39  40    :=
1     0   0
2     0   0
3     0   0
4     0   0
5     0   0
6     0   0
7     0   0
8     0   0
9     0   0
10    0   0
11    0   0
12    0   0
13    0   0
14    0   0
15    0   0
16    0   0
17    0   0
18    0   0
19    0   0
20    0   0
21    0   0
22    0   0
23    0   0
24    0   0
25    0   0
26    0   0
27    0   0
28    0   0
29    0   0
30    0   0
31    0   0
32    0   0
33    0   0
34    0   0
35    0   0
36    0   0
37    0   0
38    0   0
39    0   0
40    0   0
41    0   0
42    0   0
43    0   0
44    0   0
45    0   0
46    0   0
47    0   0
48    0   0
49    0   0
50    0   0
51    0   0
52    0   0
53    0   0
54    0   0
55    0   0
56    0   0
57    0   0
58    0   0
59    0   0
60    0   0
61    0   0
62    0   0
63    0   0
64    0   0
65    0   0
66    0   0
67    0   0
68    0   0
69    0   0
70    0   0
71    0   0
72    0   0
73    0   0
74    0   0
75    0   0
76    0   0
77    0   0
78    0   0
79    0   0
80    0   0
81    0   0
82    0   0
83    0   0
84    0   0
85    0   0
86    0   0
87    0   0
88    0   0
89    0   0
90    0   0
91    0   0
92    0   0
93    0   0
94    0   0
95    0   0
96    0   0
97    0   0
98    0   0
99    0   0
100   0   0
101   0   0
102   0   0
103   0   0
104   0   0
105   0   0
106   0   0
107   0   0
108   0   0
109   0   0
110   0   0
111   0   0
112   0   0
;

In [95]:
e_var_s3 = ampl.getVariable('e').getValues().toPandas()
e_var_s3 = e_var_s3.reset_index()
e_var_s3.columns = ['itens','caixa', 'quantidade']

resultado_s3 = e_var_s3.pivot(index='itens', columns='caixa', values='quantidade')


resultado_s3 = resultado_s3.reset_index()
resultado_s3.columns.name = None
resultado_s3['id'] = ids

resultado_s3

,itens,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,id
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,149
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,221
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,590
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,670
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,108,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,29581
108,109,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,29690
109,110,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,29901
110,111,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30685
111,112,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,31430

In [96]:
resultado_final_s3 = resultado_s3.loc[:, (resultado_s3 != 0).any(axis=0)]
with pd.option_context('display.max_rows', None):
    display(resultado_final_s3)

     itens     id
0        1    149
1        2    221
2        3    590
3        4    670
4        5    763
5        6    788
6        7    879
7        8   1391
8        9   1447
9       10   1572
10      11   1694
11      12   1884
12      13   2041
13      14   2302
14      15   2382
15      16   2466
16      17   2755
17      18   3729
18      19   3790
19      20   3793
20      21   3944
21      22   5396
22      23   5452
23      24   7142
24      25   7342
25      26   7540
26      27   7831
27      28   7896
28      29   7914
29      30   8244
30      31   8311
31      32   8650
32      33   8684
33      34   8704
34      35   8866
35      36   9060
36      37   9073
37      38   9083
38      39   9099
39      40   9144
40      41   9498
41      42   9656
42      43   9775
43      44   9900
44      45  10311
45      46  10312
46      47  10324
47      48  10409
48      49  10493
49      50  11093
50      51  11098
51      52  11419
52      53  11555
53      54  13723
54      55  14099
55      56  14609
56      57  14709
57      58  14846
58      59  15665
59      60  15686
60      61  15790
61      62  15879
62      63  16301
63      64  16315
64      65  16443
65      66  16777
66      67  16846
67      68  16915
68      69  16922
69      70  17237
70      71  18577
71      72  18950
72      73  19531
73      74  20568
74      75  21204
75      76  21367
76      77  21686
77      78  21874
78      79  21895
79      80  22215
80      81  22216
81      82  22380
82      83  22571
83      84  22618
84      85  22768
85      86  22818
86      87  22977
87      88  22990
88      89  23009
89      90  23381
90      91  24353
91      92  24475
92      93  24611
93      94  24898
94      95  24996
95      96  25120
96      97  26031
97      98  27238
98      99  27267
99     100  27502
100    101  27791
101    102  27900
102    103  27920
103    104  28244
104    105  29072
105    106  29077
106    107  29442
107    108  29581
108    109  29690
109    110  29901
110    111  30685
111    112  31430

In [97]:
resultado_final_s3.drop(columns=['itens', 'id'])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[112 rows x 0 columns]

Resumo

In [98]:
for i in resultado_final_s3.drop(columns=['itens', 'id']).columns.values:
    print(f"quantidade de itens na mochila {i}: {resultado_final_s3[i].sum()}")

### 1.3.4- Outros Solvers

#### Solver GCG

In [99]:
ampl.option["solver"] = "gcg"
ampl.option["gcg_options"] = "outlev=1"
ampl.solve()

GCG 4.0.0:   tech:outlev = 1
 added complete decomp for original problem with 112 blocks and 0 masterconss, 4361 linkingvars, 0 mastervars, and max white score of   0.017423
presolving:

(round 1, exhaustive) 0 del vars, 0 del conss, 0 add conss, 0 chg bounds, 0 chg sides, 0 chg coeffs, 21 upgd conss, 0 impls, 21 clqs
   (0.0s) probing cycle finished: starting next cycle
presolving (2 rounds: 2 fast, 2 medium, 2 exhaustive):
 0 deleted vars, 0 deleted constraints, 0 added constraints, 0 tightened bounds, 0 added holes, 0 changed sides, 0 changed coefficients
 0 implications, 861 cliques
presolved problem has 4520 variables (880 bin, 3640 int, 0 impl, 0 cont) and 192 constraints
     21 constraints of type <setppc>
    171 constraints of type <linear>
transformed objective value is always integral (scale: 1)
Presolving Time: 0.00
 calculated translation; number of missing constraints: 0; number of other partialdecs: 1
Preexisting decomposition found. Solution process started...

A Dantzig-Wolfe reformulation is applied to solve the original problem.
Chosen structure has 112 blocks, 4440 linking variables, and 0 linking constraints.
This decomposition has a maxwhite score of 0.017423.

  time | node  | left  |SLP iter|MLP iter|LP it/n| mem |mdpt |ovars|mvars|ocons|mcons|mcuts|  dualbound   | primalbound  |  deg   |  gap
p  1.0s|     1 |     0 |      0 |      0 |     - | 100M|   0 |4520 |   0 | 193 |   0 |   0 | 0.000000e+00 | 4.000000e+01 |   --   |    Inf
i  1.0s|     1 |     0 |      0 |      0 |     - | 100M|   0 |4520 |   0 | 193 |   0 |   0 | 0.000000e+00 | 8.000000e+00 |   --   |    Inf
   1.0s|     1 |     0 |      0 |      0 |     - | 100M|   0 |4520 |   0 | 193 |   0 |   0 | 8.000000e+00 | 8.000000e+00 |   --   |   0.00%

SCIP Status        : problem is solved [optimal solution found]
Solving Time (sec) : 1.00
Solving Nodes      : 1
Primal Bound       : +8.00000000000000e+00 (2 solutions)
Dual Bound         : +8.00000000000000e+00
Gap                : 0.00 %
WARNING: Dual information only available for pure LPs (only continuous variables).
GCG 4.0.0: optimal solution; objective 8
3711 simplex iterations
1 branching nodes

In [100]:
%%ampl_eval
display {j in J} y[j];
display {i in I, j in J} e[i,j];

y[j] [*] :=
 1 1    5 1    9 0   13 0   17 0   21 0   25 0   29 0   33 0   37 0
 2 1    6 1   10 0   14 0   18 0   22 0   26 0   30 0   34 0   38 0
 3 1    7 1   11 0   15 0   19 0   23 0   27 0   31 0   35 0   39 0
 4 1    8 1   12 0   16 0   20 0   24 0   28 0   32 0   36 0   40 0
;

e[i,j] [*,*]
:     1   2    3    4    5    6    7    8    9  10  11  12  13  14  15  16  17 :=
1     6    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
2     4    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
3     5    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
4     1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
5     5    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
6     0    5    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
7     0   12    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
8     0    7    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
9     0    2    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
10    0    3    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
11    0    3    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
12    2    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
13    0   10    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
14    0    5    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
15    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
16    0    6    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
17    0    3    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
18    0    3    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
19    0    6    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
20    0    5    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
21    0    4    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
22    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
23    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
24    0    6    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
25    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
26    0    0    2    0    0    0    0    0   0   0   0   0   0   0   0   0   0
27    0    0    9    0    0    0    0    0   0   0   0   0   0   0   0   0   0
28    0    0    5    0    0    0    0    0   0   0   0   0   0   0   0   0   0
29    0    0    5    0    0    0    0    0   0   0   0   0   0   0   0   0   0
30    0    0   12    0    0    0    0    0   0   0   0   0   0   0   0   0   0
31    0    2    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
32    0    0    3    0    0    0    0    0   0   0   0   0   0   0   0   0   0
33    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
34    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
35    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
36    0    0    3    0    0    0    0    0   0   0   0   0   0   0   0   0   0
37    0    0    0   28    0    0    0    0   0   0   0   0   0   0   0   0   0
38    0    0    2    0    0    0    0    0   0   0   0   0   0   0   0   0   0
39    0    0    8    0    0    0    0    0   0   0   0   0   0   0   0   0   0
40    0    0    6    0    0    0    0    0   0   0   0   0   0   0   0   0   0
41    0    0    0    8    0    0    0    0   0   0   0   0   0   0   0   0   0
42    0    0    0    3    0    0    0    0   0   0   0   0   0   0   0   0   0
43    0    0    0    3    0    0    0    0   0   0   0   0   0   0   0   0   0
44    0    0    6    0    0    0    0    0   0   0   0   0   0   0   0   0   0
45    0    0    0    4    0    0    0    0   0   0   0   0   0   0   0   0   0
46    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
47    0    0    0    4    0    0    0    0   0   0   0   0   0   0   0   0   0
48    0    0    0    5    0    0    0    0   0   0   0   0   0   0   0   0   0
49    0    0    0   15    0    0    0    0   0   0   0   0   0   0   0   0   0
50    0    0    0    0   13    0    0    0   0   0   0   0   0   0   0   0   0
51    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
52    0    0    0    4    0    0    0    0   0   0   0   0   0   0   0   0   0
53    0    0    0    0    7    0    0    0   0   0   0   0   0   0   0   0   0
54    0    0    0    3    0    0    0    0   0   0   0   0   0   0   0   0   0
55    0    0    0    0    7    0    0    0   0   0   0   0   0   0   0   0   0
56    0    0    0    0    2    0    0    0   0   0   0   0   0   0   0   0   0
57    0    0    0    0    4    0    0    0   0   0   0   0   0   0   0   0   0
58    0    0    0    0    8    0    0    0   0   0   0   0   0   0   0   0   0
59    0    0    0    0   13    0    0    0   0   0   0   0   0   0   0   0   0
60    0    0    0    0    8    0    0    0   0   0   0   0   0   0   0   0   0
61    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
62    0    0    0    0    5    0    0    0   0   0   0   0   0   0   0   0   0
63    0    0    0    2    0    0    0    0   0   0   0   0   0   0   0   0   0
64    0    0    0    0    8    0    0    0   0   0   0   0   0   0   0   0   0
65    0    0    0    0    3    0    0    0   0   0   0   0   0   0   0   0   0
66    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
67    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
68    0    0    0    0    6    0    0    0   0   0   0   0   0   0   0   0   0
69    0    0    0    0    0    8    0    0   0   0   0   0   0   0   0   0   0
70    0    0    0    0    0    2    0    0   0   0   0   0   0   0   0   0   0
71    0    0    0    0    0    2    0    0   0   0   0   0   0   0   0   0   0
72    0    0    0    0    0    7    0    0   0   0   0   0   0   0   0   0   0
73    0    0    0    0    0   11    0    0   0   0   0   0   0   0   0   0   0
74    0    0    0    0    0   13    0    0   0   0   0   0   0   0   0   0   0
75    0    0    0    0    0    3    0    0   0   0   0   0   0   0   0   0   0
76    0    0    0    0    0   16    0    0   0   0   0   0   0   0   0   0   0
77    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
78    0    0    0    0    0    7    0    0   0   0   0   0   0   0   0   0   0
79    0    0    0    0    0    3    0    0   0   0   0   0   0   0   0   0   0
80    0    0    0    0    0    6    0    0   0   0   0   0   0   0   0   0   0
81    0    0    0    0    0    3    0    0   0   0   0   0   0   0   0   0   0
82    0    0    0    0    0    5    0    0   0   0   0   0   0   0   0   0   0
83    0    0    0    0    0   10    0    0   0   0   0   0   0   0   0   0   0
84    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
85    0    0    0    0    0    2    0    0   0   0   0   0   0   0   0   0   0
86    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
87    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
88    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
89    0    0    0    0    0    0    7    0   0   0   0   0   0   0   0   0   0
90    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
91    0    0    0    0    0    2    0    0   0   0   0   0   0   0   0   0   0
92    0    0    0    0    0    0    3    0   0   0   0   0   0   0   0   0   0
93    1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
94    0    0    0    0    0    0    3    0   0   0   0   0   0   0   0   0   0
95    0    0    0    0    0    0    6    0   0   0   0   0   0   0   0   0   0
96    0    0    0    0    0    0    3    0   0   0   0   0   0   0   0   0   0
97    0    0    0    0    0    0    3    0   0   0   0   0   0   0   0   0   0
98    0    0    0    0    0    0    2    0   0   0   0   0   0   0   0   0   0
99    0    0    0    0    0    0   11    0   0   0   0   0   0   0   0   0   0
100   0    0    0    0    0    0    2    0   0   0   0   0   0   0   0   0   0
101   0    0    0    0    0    2    0    0   0   0   0   0   0   0   0   0   0
102   0    0    0    0    0    0    5    0   0   0   0   0   0   0   0   0   0
103   0    0    0    0    0    0    8    0   0   0   0   0   0   0   0   0   0
104   1    0    0    0    0    0    0    0   0   0   0   0   0   0   0   0   0
105   0    0    0    0    0    0    9    0   0   0   0   0   0   0   0   0   0
106   0    0    0    0    0    0    0    7   0   0   0   0   0   0   0   0   0
107   0    0    0    0    0    0    0   17   0   0   0   0   0   0   0   0   0
108   0    0    0    0    0    0    0    2   0   0   0   0   0   0   0   0   0
109   0    0    0    0    0    0    0    2   0   0   0   0   0   0   0   0   0
110   0    0    0    0    0    0    0    8   0   0   0   0   0   0   0   0   0
111   0    0    0    0    0    0    0    3   0   0   0   0   0   0   0   0   0
112   0    0    0    0    0    0    0   16   0   0   0   0   0   0   0   0   0

:    18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36 :=
1     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
3     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
5     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
7     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
8     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
9     0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
10    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
11    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
12    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
13    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
14    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
15    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
16    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
17    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
18    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
19    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
20    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
21    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
22    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
23    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
24    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
25    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
26    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
27    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
28    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
29    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
30    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
31    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
32    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
33    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
34    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
35    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
36    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
37    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
38    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
39    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
40    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
41    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
42    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
43    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
44    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
45    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
46    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
47    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
48    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
49    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
50    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
51    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
52    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
53    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
54    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
55    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
56    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
57    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
58    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
59    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
60    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
61    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
62    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
63    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
64    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
65    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
66    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
67    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
68    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
69    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
70    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
71    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
72    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
73    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
74    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
75    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
76    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
77    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
78    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
79    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
80    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
81    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
82    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
83    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
84    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
85    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
86    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
87    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
88    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
89    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
90    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
91    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
92    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
93    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
94    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
95    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
96    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
97    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
98    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
99    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
100   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
101   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
102   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
103   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
104   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
105   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
106   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
107   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
108   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
109   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
110   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
111   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
112   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0

:    37  38  39  40    :=
1     0   0   0   0
2     0   0   0   0
3     0   0   0   0
4     0   0   0   0
5     0   0   0   0
6     0   0   0   0
7     0   0   0   0
8     0   0   0   0
9     0   0   0   0
10    0   0   0   0
11    0   0   0   0
12    0   0   0   0
13    0   0   0   0
14    0   0   0   0
15    0   0   0   0
16    0   0   0   0
17    0   0   0   0
18    0   0   0   0
19    0   0   0   0
20    0   0   0   0
21    0   0   0   0
22    0   0   0   0
23    0   0   0   0
24    0   0   0   0
25    0   0   0   0
26    0   0   0   0
27    0   0   0   0
28    0   0   0   0
29    0   0   0   0
30    0   0   0   0
31    0   0   0   0
32    0   0   0   0
33    0   0   0   0
34    0   0   0   0
35    0   0   0   0
36    0   0   0   0
37    0   0   0   0
38    0   0   0   0
39    0   0   0   0
40    0   0   0   0
41    0   0   0   0
42    0   0   0   0
43    0   0   0   0
44    0   0   0   0
45    0   0   0   0
46    0   0   0   0
47    0   0   0   0
48    0   0   0   0
49    0   0   0   0
50    0   0   0   0
51    0   0   0   0
52    0   0   0   0
53    0   0   0   0
54    0   0   0   0
55    0   0   0   0
56    0   0   0   0
57    0   0   0   0
58    0   0   0   0
59    0   0   0   0
60    0   0   0   0
61    0   0   0   0
62    0   0   0   0
63    0   0   0   0
64    0   0   0   0
65    0   0   0   0
66    0   0   0   0
67    0   0   0   0
68    0   0   0   0
69    0   0   0   0
70    0   0   0   0
71    0   0   0   0
72    0   0   0   0
73    0   0   0   0
74    0   0   0   0
75    0   0   0   0
76    0   0   0   0
77    0   0   0   0
78    0   0   0   0
79    0   0   0   0
80    0   0   0   0
81    0   0   0   0
82    0   0   0   0
83    0   0   0   0
84    0   0   0   0

In [101]:
e_var_s3_GCG = ampl.getVariable('e').getValues().toPandas()
e_var_s3_GCG = e_var_s3_GCG.reset_index()
e_var_s3_GCG.columns = ['itens','caixa', 'quantidade']

resultado_s3_GCG = e_var_s3_GCG.pivot(index='itens', columns='caixa', values='quantidade')


resultado_s3_GCG = resultado_s3_GCG.reset_index()
resultado_s3_GCG.columns.name = None
resultado_s3_GCG['id'] = ids
resultado_s3_GCG['pecas'] = pecas
resultado_s3_GCG['inner'] = inner

resultado_s3_GCG

,itens,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,id,pecas,inner
0,1,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,149,24,4
1,2,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,221,8,2
2,3,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,590,5,1
3,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,670,1,1
4,5,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,763,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,108,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,29581,2,1
108,109,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,29690,2,1
109,110,0,0,0,0,0,0,0,8,0,...,0,0,0,0,0,0,0,29901,32,4
110,111,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,30685,3,1
111,112,0,0,0,0,0,0,0,16,0,...,0,0,0,0,0,0,0,31430,16,1

In [102]:
resultado_final_s3_GCG = resultado_s3_GCG.loc[:, (resultado_s3_GCG != 0).any(axis=0)]
with pd.option_context('display.max_rows', None):
    display(resultado_final_s3_GCG)

     itens  1   2   3   4   5   6   7   8     id  pecas  inner
0        1  6   0   0   0   0   0   0   0    149     24      4
1        2  4   0   0   0   0   0   0   0    221      8      2
2        3  5   0   0   0   0   0   0   0    590      5      1
3        4  1   0   0   0   0   0   0   0    670      1      1
4        5  5   0   0   0   0   0   0   0    763      5      1
5        6  0   5   0   0   0   0   0   0    788     10      2
6        7  0  12   0   0   0   0   0   0    879     12      1
7        8  0   7   0   0   0   0   0   0   1391     21      3
8        9  0   2   0   0   0   0   0   0   1447      2      1
9       10  0   3   0   0   0   0   0   0   1572      3      1
10      11  0   3   0   0   0   0   0   0   1694      3      1
11      12  2   0   0   0   0   0   0   0   1884      6      3
12      13  0  10   0   0   0   0   0   0   2041     10      1
13      14  0   5   0   0   0   0   0   0   2302      5      1
14      15  1   0   0   0   0   0   0   0   2382      1      1
15      16  0   6   0   0   0   0   0   0   2466      6      1
16      17  0   3   0   0   0   0   0   0   2755      3      1
17      18  0   3   0   0   0   0   0   0   3729      3      1
18      19  0   6   0   0   0   0   0   0   3790     24      4
19      20  0   5   0   0   0   0   0   0   3793     15      3
20      21  0   4   0   0   0   0   0   0   3944      4      1
21      22  1   0   0   0   0   0   0   0   5396      1      1
22      23  1   0   0   0   0   0   0   0   5452      1      1
23      24  0   6   0   0   0   0   0   0   7142      6      1
24      25  1   0   0   0   0   0   0   0   7342      4      4
25      26  0   0   2   0   0   0   0   0   7540      2      1
26      27  0   0   9   0   0   0   0   0   7831     36      4
27      28  0   0   5   0   0   0   0   0   7896      5      1
28      29  0   0   5   0   0   0   0   0   7914      5      1
29      30  0   0  12   0   0   0   0   0   8244     12      1
30      31  0   2   0   0   0   0   0   0   8311      2      1
31      32  0   0   3   0   0   0   0   0   8650      3      1
32      33  1   0   0   0   0   0   0   0   8684      2      2
33      34  1   0   0   0   0   0   0   0   8704      1      1
34      35  1   0   0   0   0   0   0   0   8866      1      1
35      36  0   0   3   0   0   0   0   0   9060      3      1
36      37  0   0   0  28   0   0   0   0   9073     28      1
37      38  0   0   2   0   0   0   0   0   9083      2      1
38      39  0   0   8   0   0   0   0   0   9099      8      1
39      40  0   0   6   0   0   0   0   0   9144      6      1
40      41  0   0   0   8   0   0   0   0   9498      8      1
41      42  0   0   0   3   0   0   0   0   9656      3      1
42      43  0   0   0   3   0   0   0   0   9775      3      1
43      44  0   0   6   0   0   0   0   0   9900      6      1
44      45  0   0   0   4   0   0   0   0  10311      8      2
45      46  1   0   0   0   0   0   0   0  10312      3      3
46      47  0   0   0   4   0   0   0   0  10324      4      1
47      48  0   0   0   5   0   0   0   0  10409      5      1
48      49  0   0   0  15   0   0   0   0  10493     15      1
49      50  0   0   0   0  13   0   0   0  11093     13      1
50      51  1   0   0   0   0   0   0   0  11098      4      4
51      52  0   0   0   4   0   0   0   0  11419      4      1
52      53  0   0   0   0   7   0   0   0  11555      7      1
53      54  0   0   0   3   0   0   0   0  13723      3      1
54      55  0   0   0   0   7   0   0   0  14099      7      1
55      56  0   0   0   0   2   0   0   0  14609      2      1
56      57  0   0   0   0   4   0   0   0  14709      4      1
57      58  0   0   0   0   8   0   0   0  14846      8      1
58      59  0   0   0   0  13   0   0   0  15665     52      4
59      60  0   0   0   0   8   0   0   0  15686      8      1
60      61  1   0   0   0   0   0   0   0  15790      1      1
61      62  0   0   0   0   5   0   0   0  15879      5      1
62      63  0   0   0   2   0   0   0   0  16301      2      1
63      64  0   0   0   0   8   0   0   0  16315      8      1
64      65  0   0   0   0   3   0   0   0  16443      3      1
65      66  1   0   0   0   0   0   0   0  16777      1      1
66      67  1   0   0   0   0   0   0   0  16846      1      1
67      68  0   0   0   0   6   0   0   0  16915      6      1
68      69  0   0   0   0   0   8   0   0  16922     24      3
69      70  0   0   0   0   0   2   0   0  17237      8      4
70      71  0   0   0   0   0   2   0   0  18577      8      4
71      72  0   0   0   0   0   7   0   0  18950      7      1
72      73  0   0   0   0   0  11   0   0  19531     11      1
73      74  0   0   0   0   0  13   0   0  20568     13      1
74      75  0   0   0   0   0   3   0   0  21204      3      1
75      76  0   0   0   0   0  16   0   0  21367     16      1
76      77  1   0   0   0   0   0   0   0  21686      1      1
77      78  0   0   0   0   0   7   0   0  21874     28      4
78      79  0   0   0   0   0   3   0   0  21895     12      4
79      80  0   0   0   0   0   6   0   0  22215      6      1
80      81  0   0   0   0   0   3   0   0  22216      3      1
81      82  0   0   0   0   0   5   0   0  22380     15      3
82      83  0   0   0   0   0  10   0   0  22571     10      1
83      84  1   0   0   0   0   0   0   0  22618      1      1
84      85  0   0   0   0   0   2   0   0  22768      2      1
85      86  1   0   0   0   0   0   0   0  22818      1      1
86      87  1   0   0   0   0   0   0   0  22977      1      1
87      88  1   0   0   0   0   0   0   0  22990      1      1
88      89  0   0   0   0   0   0   7   0  23009      7      1
89      90  1   0   0   0   0   0   0   0  23381      4      4
90      91  0   0   0   0   0   2   0   0  24353      2      1
91      92  0   0   0   0   0   0   3   0  24475      3      1
92      93  1   0   0   0   0   0   0   0  24611      2      2
93      94  0   0   0   0   0   0   3   0  24898      3      1
94      95  0   0   0   0   0   0   6   0  24996      6      1
95      96  0   0   0   0   0   0   3   0  25120      3      1
96      97  0   0   0   0   0   0   3   0  26031      3      1
97      98  0   0   0   0   0   0   2   0  27238      6      3
98      99  0   0   0   0   0   0  11   0  27267     11      1
99     100  0   0   0   0   0   0   2   0  27502      8      4
100    101  0   0   0   0   0   2   0   0  27791      2      1
101    102  0   0   0   0   0   0   5   0  27900     20      4
102    103  0   0   0   0   0   0   8   0  27920     32      4
103    104  1   0   0   0   0   0   0   0  28244      1      1
104    105  0   0   0   0   0   0   9   0  29072     36      4
105    106  0   0   0   0   0   0   0   7  29077     28      4
106    107  0   0   0   0   0   0   0  17  29442     17      1
107    108  0   0   0   0   0   0   0   2  29581      2      1
108    109  0   0   0   0   0   0   0   2  29690      2      1
109    110  0   0   0   0   0   0   0   8  29901     32      4
110    111  0   0   0   0   0   0   0   3  30685      3      1
111    112  0   0   0   0   0   0   0  16  31430     16      1

In [103]:
resultado_final_s3_GCG['soma_multiplo'] = resultado_final_s3_GCG['pecas']/resultado_final_s3_GCG['inner']
resultado_final_s3_GCG['soma_multiplo']

0       6.0
1       4.0
2       5.0
3       1.0
4       5.0
       ...
107     2.0
108     2.0
109     8.0
110     3.0
111    16.0
Name: soma_multiplo, Length: 112, dtype: float64

Verificação dos resultados

In [104]:
for i in resultado_final_s3_GCG.drop(columns=['itens', 'id', 'inner', 'pecas']).columns.values:
    print(f"soma de múltiplo {i}: {resultado_final_s3_GCG[i].sum()}")

soma de múltiplo 1: 43
soma de múltiplo 2: 82
soma de múltiplo 3: 61
soma de múltiplo 4: 79
soma de múltiplo 5: 84
soma de múltiplo 6: 102
soma de múltiplo 7: 62
soma de múltiplo 8: 55
soma de múltiplo soma_multiplo: 568.0

In [105]:
total_soma_resultado = 0

for i in resultado_final_s3_GCG.drop(columns=['itens', 'id', 'inner', 'pecas', 'soma_multiplo']).columns.values:
    total_soma_resultado += resultado_final_s3_GCG[i].sum()

print(total_soma_resultado)

568

In [106]:
print(f"quantidade de itens encaixotados: {resultado_final_s3_GCG['pecas'].sum()}")

quantidade de itens encaixotados: 913

## 1.4- CSP com problemas do negócio - versão 3

Vamos adicionar a restrição de volume de cada caixa

Modelagem matemática 

Dado que temos $n$ tipos de itens $i$ para empacotar, cada um com peso $w_{i}$, um volume $v_{i}$, um múltiplo $inner_{i}$ da quantiade de itens a serem selecioner uma demanda $d_{i}$, para todo $i \in \{1,...,n\}$, e um número $m$ de mochilas (caixas) idênticas com capacidade volumétrica $cv$, uma capacidade de peso $cp$ e uma capacidade em número de peças $np$, então temos:

$$
\begin{aligned}
\text{minimizar} \quad &\sum_{j = 1}^{m} y_{j} \\
\text{sujeito a} \quad &\sum_{i = 1}^{n} w_{i} \xi_{i j}*inner_{i} \leq cp*y_{j} \quad \forall j \in \{1,...,m\} \\
&\sum_{i = 1}^{n} v_{i} \xi_{i j} *inner_{i} \leq cv*y_{j} \quad \forall j \in \{1,...,m\} \\
&\sum_{i = 1}^{n} \xi_{i j} *inner_{i} \leq np*y_{j} \quad \forall j \in \{1,...,m\} \\
&\sum_{j = 1}^{m} \xi_{i j} *inner_{i} = d_{i} \quad \forall i \in \{1,...,n\} \\
&\xi_{i j} \geq0 \in \mathbb{Z} \quad \forall i \in \{1,...,n\}, j \in \{1,...,m\} \\
&y_{j} \in \{0,1\} \quad \forall j \in \{1,...,m\}
\end{aligned}
$$


 Seja $\quad$ $\xi_{i j k}$= número de itens tipo $i$ adicionados na caixa $j$, para a loja $k$

In [107]:
%%ampl_eval
reset;

In [108]:
%%ampl_eval
param n;
param cv;
param cp;
param np;

suffix master IN, binary;
suffix block IN, integer;

set I = 1..n ordered;
param w {I} > 0;
param v {I} > 0;
param inner{I} > 0;
param d {I} > 0;

param maxVal_peso := max {i in I} w[i];
param maxVal_volume := max {i in I} v[i];
param pecas_por_caixa_peso := floor(cp / maxVal_peso);
param pecas_por_caixa_volume := floor(cv / maxVal_volume);
param pecas_caixa := min(pecas_por_caixa_peso, pecas_por_caixa_volume);

param demanda_soma := sum{i in I} d[i];
param maxbins := ceil(demanda_soma / pecas_caixa);

set J = 1..maxbins;

var e {I,J} integer >= 0;
var y {J} binary;

minimize FO:  sum {j in J} y[j];

s.t. R1_capacidade_mochila_peso {j in J}:
   sum {i in I} w[i] * e[i,j] * inner[i] <= cp * y[j] suffix block j;

s.t. R2_capacidade_mochila_volume {j in J}:
   sum {i in I} v[i] * e[i,j] * inner[i] <= cv * y[j] suffix block j;

s.t. R3_capacidade_mochila_pecas {j in J}:
   sum {i in I} e[i,j] * inner[i] <= np * y[j] suffix block j;

s.t. R4_quantidade_demanda {i in I}:
   sum {j in J} e[i, j]* inner[i] = d[i] suffix master 1;

### 1.4.1- Importar dados

In [109]:
df_process_situacao4 = df_process.query('chave_loja_buffer_onda == "6_CX_4"')
df_process_situacao4.head()

,Id,Ordem_de_produção,Data_da_ordem_de_produção,Produto,Comprimento_unit,Largura_unit,Altura_unit,Peso_unit,Peças,Caixa_padrão,...,Cor,Tamanho,Inner,Rota,Capacidade,pai-cor,Volume_unit,Volume_total,Peso_total,chave_loja_buffer_onda
3935,3935,924,2023-11-06,882187700,256,273,76,0.26,3,CARTON_M,...,104,3,1,1,inf,178-104,5311488,15934464,0.78,6_CX_4
3952,3952,330,2023-11-07,548327076,326,330,73,0.84,1,CARTON_M,...,6,39,1,1,inf,275-6,7853340,7853340,0.84,6_CX_4
4040,4040,230,2023-11-06,882187718,256,273,78,0.28,1,CARTON_M,...,104,13,1,1,inf,178-104,5451264,5451264,0.28,6_CX_4
4856,4856,1987,2023-11-14,595178499,450,329,25,0.62,2,CARTON_M,...,35,4,1,1,inf,283-35,3701250,7402500,1.24,6_CX_4
5250,5250,986,2023-11-06,882187822,254,272,79,0.28,1,CARTON_M,...,104,6,1,1,inf,178-104,5457952,5457952,0.28,6_CX_4

In [110]:
df_process_situacao4[df_process_situacao4['pai-cor'] == "151-3.0"]

Empty DataFrame
Columns: [Id, Ordem_de_produção, Data_da_ordem_de_produção, Produto, Comprimento_unit, Largura_unit, Altura_unit, Peso_unit, Peças, Caixa_padrão, Loja, Classe_de_onda, Tipo_de_buffer, Item_pai, Cor, Tamanho, Inner, Rota, Capacidade, pai-cor, Volume_unit, Volume_total, Peso_total, chave_loja_buffer_onda]
Index: []

[0 rows x 24 columns]

In [111]:
df_process_situacao4.query('chave_loja_buffer_onda == "6_CX_4"').groupby(['chave_loja_buffer_onda']).agg({'Peso_unit':'sum', 'Volume_unit':'sum', 'Peças':'sum'}).head(30)

                        Peso_unit  Volume_unit  Peças
chave_loja_buffer_onda
6_CX_4                     19.563    189132256    104

In [112]:
ids =  list(df_process_situacao4['Id'].values)
ids

[3935,
 3952,
 4040,
 4856,
 5250,
 5708,
 6012,
 6036,
 6080,
 6144,
 6570,
 6749,
 6863,
 6970,
 6999,
 7212,
 8433,
 9065,
 9511,
 9659,
 10158,
 11074,
 11212,
 11337,
 11616,
 11969,
 12004,
 13289,
 13409,
 13554,
 13634,
 13982,
 13986,
 14027,
 17054,
 17926,
 18340,
 19240,
 19944,
 20625,
 23022,
 23503,
 24919,
 24942,
 26476,
 26688,
 26971,
 27031,
 29519,
 29722,
 29839,
 30487,
 31314]

### 1.4.2- Entrada de dados no modelo

In [113]:
peso =  list(df_process_situacao4['Peso_unit'].values)
pecas = list(df_process_situacao4['Peças'].values)
volume = list(df_process_situacao4['Volume_unit'].values)
inner = list(df_process_situacao4['Inner'].values)

In [114]:
pecas

[3,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 3,
 1,
 1,
 5,
 1,
 1,
 1,
 1,
 3,
 3,
 1,
 2,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 2,
 3,
 1,
 1,
 2,
 4,
 1,
 3,
 1,
 6,
 2,
 1,
 1,
 1,
 2,
 1,
 3,
 1,
 5,
 3,
 1,
 2,
 4,
 1,
 3,
 4]

In [115]:
buffer = df_process_situacao4['Tipo_de_buffer'].unique()[0]
cp = df_caixas_padrao.query(f'Tipo_de_buffer == "{buffer}"')['Peso_max_(kg)'].values
cv = df_caixas_padrao.query(f'Tipo_de_buffer == "{buffer}"')['volume_util_caixa'].values
np = df_caixas_padrao.query(f'Tipo_de_buffer == "{buffer}"')['Peças_max'].values

print(cp, cv, np)

[23] [83393894.39999999] [170]

In [116]:
ampl.param["n"] = len(pecas)

ampl.param["cp"] = cp
ampl.param["cv"] = cv
ampl.param["np"] = np

w = peso
v = volume
d = pecas
inner = inner

ampl.param["w"] = {i: w[i - 1] for i in range(1, len(w) + 1)}
ampl.param["v"] = {i: v[i - 1] for i in range(1, len(v) + 1)}
ampl.param["inner"] = {i: inner[i - 1] for i in range(1, len(inner) + 1)}
ampl.param["d"] = {i: d[i - 1] for i in range(1, len(d) + 1)}

In [117]:
ampl.getValue('pecas_caixa')

10

In [118]:
ampl.getValue('demanda_soma')

104

In [119]:
ampl.getValue('maxbins')

11

### Outros Solver

#### Solver GCG

In [120]:
ampl.option["solver"] = "gcg"
ampl.option["gcg_options"] = "outlev=1 timelimit=240"
ampl.solve()

GCG 4.0.0:   tech:outlev = 1
  lim:time = 240
 added complete decomp for original problem with 11 blocks and 53 masterconss, 0 linkingvars, 0 mastervars, and max white score of   0.348837
presolving:
(round 1, fast)       0 del vars, 0 del conss, 0 add conss, 0 chg bounds, 0 chg sides, 11 chg coeffs, 0 upgd conss, 0 impls, 29 clqs
(round 2, exhaustive) 0 del vars, 0 del conss, 0 add conss, 0 chg bounds, 0 chg sides, 11 chg coeffs, 29 upgd conss, 0 impls, 29 clqs
   (0.0s) probing cycle finished: starting next cycle
presolving (3 rounds: 3 fast, 2 medium, 2 exhaustive):
 0 deleted vars, 0 deleted constraints, 0 added constraints, 0 tightened bounds, 0 added holes, 0 changed sides, 11 changed coefficients
 0 implications, 348 cliques
presolved problem has 594 variables (330 bin, 264 int, 0 impl, 0 cont) and 86 constraints
     29 constraints of type <setppc>
     57 constraints of type <linear>
transformed objective value is always integral (scale: 1)
Presolving Time: 0.00
 calculated translation; number of missing constraints: 0; number of other partialdecs: 1
Preexisting decomposition found. Solution process started...

A Dantzig-Wolfe reformulation is applied to solve the original problem.
Chosen structure has 11 blocks and 53 linking constraints.
This decomposition has a maxwhite score of 0.348837.
Matrix has 11 blocks, using 1 aggregated pricing problem.

  time | node  | left  |SLP iter|MLP iter|LP it/n| mem |mdpt |ovars|mvars|ocons|mcons|mcuts|  dualbound   | primalbound  |  deg   |  gap
p  0.0s|     1 |     0 |      0 |      0 |     - |8244k|   0 | 594 |   0 |  87 |   0 |   0 | 0.000000e+00 | 1.100000e+01 |   --   |    Inf
i  0.0s|     1 |     0 |      0 |      0 |     - |8129k|   0 | 594 |   0 |  87 |   0 |   0 | 0.000000e+00 | 6.000000e+00 |   --   |    Inf
   0.0s|     1 |     0 |      0 |      0 |     - |8121k|   0 | 594 |   0 |  87 |   0 |   0 | 4.293262e+00 | 6.000000e+00 |   --   |  39.75%


   0.0s|     1 |     0 |      0 |      0 |     - |8297k|   0 | 594 |  11 |  87 |  55 |   0 | 4.293262e+00 | 6.000000e+00 |   0.00%|  39.75%
   0.0s|     1 |     0 |      0 |      0 |     - |8370k|   0 | 594 |  33 |  87 |  55 |   0 | 4.293262e+00 | 6.000000e+00 |   0.00%|  39.75%
Starting reduced cost pricing...
   0.0s|     1 |     0 |    327 |    327 |     - |8708k|   0 | 594 | 113 |  87 |  55 |   0 | 4.293262e+00 | 6.000000e+00 |  73.21%|  39.75%
s  0.0s|     1 |     0 |    406 |    406 |     - |8834k|   0 | 594 | 124 |  87 |  55 |   0 | 4.293262e+00 | 5.000000e+00 |  73.21%|  16.46%
   0.0s|     1 |     0 |    406 |    406 |     - |8834k|   0 | 594 | 124 |  87 |  55 |   0 | 5.000000e+00 | 5.000000e+00 |  73.21%|   0.00%

SCIP Status        : problem is solved [optimal solution found]
Solving Time (sec) : 0.00
Solving Nodes      : 1
Primal Bound       : +5.00000000000000e+00 (5 solutions)
Dual Bound         : +5.00000000000000e+00
Gap                : 0.00 %
WARNING: Dual information only available for pure LPs (only continuous variables).
GCG 4.0.0: optimal solution; objective 5
658 simplex iterations
1 branching nodes

In [121]:
%%ampl_eval
display {j in J} y[j];
display {i in I, j in J} e[i,j];

y[j] [*] :=
 1  1
 2  0
 3  0
 4  0
 5  0
 6  0
 7  0
 8  1
 9  1
10  1
11  1
;

e[i,j] [*,*]
:    1   2   3   4   5   6   7   8   9  10  11    :=
1    1   0   0   0   0   0   0   0   0   0   2
2    0   0   0   0   0   0   0   0   1   0   0
3    0   0   0   0   0   0   0   0   1   0   0
4    0   0   0   0   0   0   0   1   0   1   0
5    0   0   0   0   0   0   0   0   1   0   0
6    0   0   0   0   0   0   0   1   0   1   0
7    0   0   0   0   0   0   0   0   1   0   0
8    0   0   0   0   0   0   0   0   1   0   0
9    1   0   0   0   0   0   0   0   0   2   0
10   0   0   0   0   0   0   0   0   1   0   0
11   0   0   0   0   0   0   0   0   1   0   0
12   1   0   0   0   0   0   0   2   0   1   1
13   0   0   0   0   0   0   0   0   1   0   0
14   1   0   0   0   0   0   0   0   0   0   0
15   0   0   0   0   0   0   0   0   1   0   0
16   0   0   0   0   0   0   0   0   1   0   0
17   0   0   0   0   0   0   0   1   0   1   1
18   0   0   0   0   0   0   0   1   0   1   1
19   0   0   0   0   0   0   0   0   1   0   0
20   0   0   0   0   0   0   0   1   0   0   1
21   0   0   0   0   0   0   0   0   1   0   0
22   0   0   0   0   0   0   0   0   1   0   0
23   1   0   0   0   0   0   0   0   0   1   0
24   0   0   0   0   0   0   0   1   0   0   1
25   0   0   0   0   0   0   0   0   1   0   0
26   0   0   0   0   0   0   0   0   1   0   0
27   0   0   0   0   0   0   0   0   1   0   0
28   1   0   0   0   0   0   0   0   0   1   0
29   0   0   0   0   0   0   0   1   0   1   1
30   1   0   0   0   0   0   0   0   0   0   0
31   0   0   0   0   0   0   0   0   1   0   0
32   0   0   0   0   0   0   0   1   0   1   0
33   1   0   0   0   0   0   0   1   0   1   1
34   1   0   0   0   0   0   0   0   0   0   0
35   0   0   0   0   0   0   0   1   0   1   1
36   1   0   0   0   0   0   0   0   0   0   0
37   1   0   0   0   0   0   0   2   0   1   2
38   1   0   0   0   0   0   0   0   0   0   1
39   0   0   0   0   0   0   0   0   1   0   0
40   1   0   0   0   0   0   0   0   0   0   0
41   0   0   0   0   0   0   0   1   0   0   0
42   0   0   0   0   0   0   0   1   0   0   1
43   0   0   0   0   0   0   0   1   0   0   0
44   1   0   0   0   0   0   0   0   0   1   1
45   0   0   0   0   0   0   0   1   0   0   0
46   0   0   0   0   0   0   0   2   0   1   2
47   1   0   0   0   0   0   0   0   0   1   1
48   0   0   0   0   0   0   0   1   0   0   0
49   0   0   0   0   0   0   0   1   0   0   0
50   0   0   0   0   0   0   0   2   0   0   2
51   1   0   0   0   0   0   0   0   0   0   0
52   1   0   0   0   0   0   0   0   0   2   0
53   0   0   0   0   0   0   0   0   0   3   1
;

In [122]:
e_var_s4_GCG = ampl.getVariable('e').getValues().toPandas()
e_var_s4_GCG = e_var_s4_GCG.reset_index()
e_var_s4_GCG.columns = ['itens','caixa', 'quantidade']

resultado_s4_GCG = e_var_s4_GCG.pivot(index='itens', columns='caixa', values='quantidade')


resultado_s4_GCG = resultado_s4_GCG.reset_index()
resultado_s4_GCG.columns.name = None
resultado_s4_GCG['id'] = ids
resultado_s4_GCG['pecas'] = pecas
resultado_s4_GCG['inner'] = inner

resultado_s4_GCG

    itens  1  2  3  4  5  6  7  8  9  10  11     id  pecas  inner
0       1  1  0  0  0  0  0  0  0  0   0   2   3935      3      1
1       2  0  0  0  0  0  0  0  0  1   0   0   3952      1      1
2       3  0  0  0  0  0  0  0  0  1   0   0   4040      1      1
3       4  0  0  0  0  0  0  0  1  0   1   0   4856      2      1
4       5  0  0  0  0  0  0  0  0  1   0   0   5250      1      1
5       6  0  0  0  0  0  0  0  1  0   1   0   5708      2      1
6       7  0  0  0  0  0  0  0  0  1   0   0   6012      1      1
7       8  0  0  0  0  0  0  0  0  1   0   0   6036      1      1
8       9  1  0  0  0  0  0  0  0  0   2   0   6080      3      1
9      10  0  0  0  0  0  0  0  0  1   0   0   6144      1      1
10     11  0  0  0  0  0  0  0  0  1   0   0   6570      1      1
11     12  1  0  0  0  0  0  0  2  0   1   1   6749      5      1
12     13  0  0  0  0  0  0  0  0  1   0   0   6863      1      1
13     14  1  0  0  0  0  0  0  0  0   0   0   6970      1      1
14     15  0  0  0  0  0  0  0  0  1   0   0   6999      1      1
15     16  0  0  0  0  0  0  0  0  1   0   0   7212      1      1
16     17  0  0  0  0  0  0  0  1  0   1   1   8433      3      1
17     18  0  0  0  0  0  0  0  1  0   1   1   9065      3      1
18     19  0  0  0  0  0  0  0  0  1   0   0   9511      1      1
19     20  0  0  0  0  0  0  0  1  0   0   1   9659      2      1
20     21  0  0  0  0  0  0  0  0  1   0   0  10158      1      1
21     22  0  0  0  0  0  0  0  0  1   0   0  11074      1      1
22     23  1  0  0  0  0  0  0  0  0   1   0  11212      2      1
23     24  0  0  0  0  0  0  0  1  0   0   1  11337      2      1
24     25  0  0  0  0  0  0  0  0  1   0   0  11616      1      1
25     26  0  0  0  0  0  0  0  0  1   0   0  11969      2      2
26     27  0  0  0  0  0  0  0  0  1   0   0  12004      1      1
27     28  1  0  0  0  0  0  0  0  0   1   0  13289      2      1
28     29  0  0  0  0  0  0  0  1  0   1   1  13409      3      1
29     30  1  0  0  0  0  0  0  0  0   0   0  13554      1      1
30     31  0  0  0  0  0  0  0  0  1   0   0  13634      1      1
31     32  0  0  0  0  0  0  0  1  0   1   0  13982      2      1
32     33  1  0  0  0  0  0  0  1  0   1   1  13986      4      1
33     34  1  0  0  0  0  0  0  0  0   0   0  14027      1      1
34     35  0  0  0  0  0  0  0  1  0   1   1  17054      3      1
35     36  1  0  0  0  0  0  0  0  0   0   0  17926      1      1
36     37  1  0  0  0  0  0  0  2  0   1   2  18340      6      1
37     38  1  0  0  0  0  0  0  0  0   0   1  19240      2      1
38     39  0  0  0  0  0  0  0  0  1   0   0  19944      1      1
39     40  1  0  0  0  0  0  0  0  0   0   0  20625      1      1
40     41  0  0  0  0  0  0  0  1  0   0   0  23022      1      1
41     42  0  0  0  0  0  0  0  1  0   0   1  23503      2      1
42     43  0  0  0  0  0  0  0  1  0   0   0  24919      1      1
43     44  1  0  0  0  0  0  0  0  0   1   1  24942      3      1
44     45  0  0  0  0  0  0  0  1  0   0   0  26476      1      1
45     46  0  0  0  0  0  0  0  2  0   1   2  26688      5      1
46     47  1  0  0  0  0  0  0  0  0   1   1  26971      3      1
47     48  0  0  0  0  0  0  0  1  0   0   0  27031      1      1
48     49  0  0  0  0  0  0  0  1  0   0   0  29519      2      2
49     50  0  0  0  0  0  0  0  2  0   0   2  29722      4      1
50     51  1  0  0  0  0  0  0  0  0   0   0  29839      1      1
51     52  1  0  0  0  0  0  0  0  0   2   0  30487      3      1
52     53  0  0  0  0  0  0  0  0  0   3   1  31314      4      1

In [123]:
resultado_final_s4_GCG = resultado_s4_GCG.loc[:, (resultado_s4_GCG != 0).any(axis=0)]
with pd.option_context('display.max_rows', None):
    display(resultado_final_s4_GCG)

    itens  1  8  9  10  11     id  pecas  inner
0       1  1  0  0   0   2   3935      3      1
1       2  0  0  1   0   0   3952      1      1
2       3  0  0  1   0   0   4040      1      1
3       4  0  1  0   1   0   4856      2      1
4       5  0  0  1   0   0   5250      1      1
5       6  0  1  0   1   0   5708      2      1
6       7  0  0  1   0   0   6012      1      1
7       8  0  0  1   0   0   6036      1      1
8       9  1  0  0   2   0   6080      3      1
9      10  0  0  1   0   0   6144      1      1
10     11  0  0  1   0   0   6570      1      1
11     12  1  2  0   1   1   6749      5      1
12     13  0  0  1   0   0   6863      1      1
13     14  1  0  0   0   0   6970      1      1
14     15  0  0  1   0   0   6999      1      1
15     16  0  0  1   0   0   7212      1      1
16     17  0  1  0   1   1   8433      3      1
17     18  0  1  0   1   1   9065      3      1
18     19  0  0  1   0   0   9511      1      1
19     20  0  1  0   0   1   9659      2      1
20     21  0  0  1   0   0  10158      1      1
21     22  0  0  1   0   0  11074      1      1
22     23  1  0  0   1   0  11212      2      1
23     24  0  1  0   0   1  11337      2      1
24     25  0  0  1   0   0  11616      1      1
25     26  0  0  1   0   0  11969      2      2
26     27  0  0  1   0   0  12004      1      1
27     28  1  0  0   1   0  13289      2      1
28     29  0  1  0   1   1  13409      3      1
29     30  1  0  0   0   0  13554      1      1
30     31  0  0  1   0   0  13634      1      1
31     32  0  1  0   1   0  13982      2      1
32     33  1  1  0   1   1  13986      4      1
33     34  1  0  0   0   0  14027      1      1
34     35  0  1  0   1   1  17054      3      1
35     36  1  0  0   0   0  17926      1      1
36     37  1  2  0   1   2  18340      6      1
37     38  1  0  0   0   1  19240      2      1
38     39  0  0  1   0   0  19944      1      1
39     40  1  0  0   0   0  20625      1      1
40     41  0  1  0   0   0  23022      1      1
41     42  0  1  0   0   1  23503      2      1
42     43  0  1  0   0   0  24919      1      1
43     44  1  0  0   1   1  24942      3      1
44     45  0  1  0   0   0  26476      1      1
45     46  0  2  0   1   2  26688      5      1
46     47  1  0  0   1   1  26971      3      1
47     48  0  1  0   0   0  27031      1      1
48     49  0  1  0   0   0  29519      2      2
49     50  0  2  0   0   2  29722      4      1
50     51  1  0  0   0   0  29839      1      1
51     52  1  0  0   2   0  30487      3      1
52     53  0  0  0   3   1  31314      4      1

In [124]:
resultado_final_s4_GCG['soma_multiplo'] = resultado_final_s4_GCG['pecas']/resultado_final_s4_GCG['inner']
resultado_final_s4_GCG['soma_multiplo']

0     3.0
1     1.0
2     1.0
3     2.0
4     1.0
5     2.0
6     1.0
7     1.0
8     3.0
9     1.0
10    1.0
11    5.0
12    1.0
13    1.0
14    1.0
15    1.0
16    3.0
17    3.0
18    1.0
19    2.0
20    1.0
21    1.0
22    2.0
23    2.0
24    1.0
25    1.0
26    1.0
27    2.0
28    3.0
29    1.0
30    1.0
31    2.0
32    4.0
33    1.0
34    3.0
35    1.0
36    6.0
37    2.0
38    1.0
39    1.0
40    1.0
41    2.0
42    1.0
43    3.0
44    1.0
45    5.0
46    3.0
47    1.0
48    1.0
49    4.0
50    1.0
51    3.0
52    4.0
Name: soma_multiplo, dtype: float64

In [125]:
for i in resultado_final_s4_GCG.drop(columns=['itens', 'id', 'inner', 'pecas']).columns.values:
    print(f"soma de múltiplo {i}: {resultado_final_s4_GCG[i].sum()}")

soma de múltiplo 1: 17
soma de múltiplo 8: 24
soma de múltiplo 9: 18
soma de múltiplo 10: 22
soma de múltiplo 11: 21
soma de múltiplo soma_multiplo: 102.0

In [126]:
total_soma_resultado = 0

for i in resultado_final_s4_GCG.drop(columns=['itens', 'id', 'inner', 'pecas', 'soma_multiplo']).columns.values:
    total_soma_resultado += resultado_final_s4_GCG[i].sum()

print(total_soma_resultado)

102

In [127]:
print("número de caixas:",len(resultado_final_s4_GCG.drop(columns=['itens', 'id', 'inner', 'pecas', 'soma_multiplo']).columns))

número de caixas: 5

## 1.5- CSP com problemas do negócio - versão 4

Vamos generalizar o modelo para mais de uma loja do mesmo tipo de buffer e mesma classe de onda.

Modelagem matemática 

Dado que temos $n$ tipos de itens $i$ para empacotar, para $k$ lojas, cada um com peso $w_{i}$, um volume $v_{i}$, um múltiplo $inner_{i k}$ da quantiade de itens a serem selecionados uma demanda $d_{i}$, para todo $i \in \{1,...,n\}$, e um número $m$ de mochilas (caixas) idênticas com capacidade volumétrica $cv$, uma capacidade de peso $cp$ e uma capacidade em número de peças $np$, então temos:

$$
\begin{aligned}
\text{minimizar} \quad &\sum_{j = 1}^{m} \sum_{k = 1}^{r} y_{j k} \\
\text{sujeito a} \quad &\sum_{i = 1}^{n} w_{i k} \xi_{i j k}*inner_{i k} \leq cp*y_{j k} \quad \forall j \in \{1,...,m\} , k \in \{1,...,r\}\\
&\sum_{i = 1}^{n} v_{i k} \xi_{i j k} *inner_{i k} \leq cv*y_{j k} \quad \forall j \in \{1,...,m\} , k \in \{1,...,r\} \\
&\sum_{i = 1}^{n} \xi_{i j k} *inner_{i k} \leq np*y_{j k} \quad \forall j \in \{1,...,m\} , k \in \{1,...,r\} \\
&\sum_{j = 1}^{m} \xi_{i j k} *inner_{i k} = d_{i k} \quad \forall i \in \{1,...,n\}, k \in \{1,...,r\}\\
&\xi_{i j k} \geq0 \in \mathbb{Z} \quad \forall i \in \{1,...,n\}, j \in \{1,...,m\} , k \in \{1,...,r\} \\
&y_{j k} \in \{0,1\} \quad \forall j \in \{1,...,m\}, k \in \{1,...,r\}
\end{aligned}
$$


 Seja $\quad$ $\xi_{i j k}$= número de itens tipo $i$ adicionados na mochila $j$, para a loja $k$.

In [128]:
%%ampl_eval
reset;

In [129]:
# # %%writefile CSP_v4.mod
# param n;
# param cv;
# param cp;
# param np;
# param r;

# suffix master IN, binary;
# suffix block IN, integer;

# set I = 1..n ordered;
# set K = 1..r ordered;
# param w {I,K} >= 0;
# param v {I,K} >= 0;
# param inner{I,K} >= 0;
# param d {I,K} >= 0;
# param maxVal := max {i in I, k in K} w[i,k];
# param soma := sum{i in I, k in K} d[i, k];
# param maxbins := ceil(soma / floor(cp / maxVal));

# set J = 1..maxbins ordered;

# var e {I,J,K} integer >= 0;
# var y {J,K} binary;

# minimize FO:  sum {j in J, k in K} y[j,k];

# s.t. R1_capacidade_mochila_peso {j in J, k in K}:
#    sum {i in I} w[i,k] * e[i,j,k] * inner[i,k] <= cp * y[j,k];

# s.t. R2_capacidade_mochila_volume {j in J, k in K}:
#    sum {i in I} v[i,k] * e[i,j,k] * inner[i,k] <= cv * y[j,k];

# s.t. R3_capacidade_mochila_pecas {j in J, k in K}:
#    sum {i in I} e[i,j,k] * inner[i,k] <= np * y[j,k];

# s.t. R4_quantidade_demanda {i in I, k in K}:
#    sum {j in J} e[i,j,k]* inner[i,k] = d[i,k];

In [130]:
%%ampl_eval
param n;
param cv;
param cp;
param np;
param r;

suffix master IN, binary;
suffix block IN, integer;

set I = 1..n ordered;
set K = 1..r ordered;
param w {I,K} >= 0;
param v {I,K} >= 0;
param inner{I,K} >= 0;
param d {I,K} >= 0;
param maxVal := max {i in I, k in K} w[i,k];
param soma := sum{i in I, k in K} d[i, k];
param maxbins := ceil(soma / floor(cp / maxVal));

set J = 1..maxbins ordered;

var e {I,J,K} integer >= 0;
var y {J,K} binary;

minimize FO:  sum {j in J, k in K} y[j,k];

s.t. R1_capacidade_mochila_peso {j in J, k in K}:
   sum {i in I} w[i,k] * e[i,j,k] * inner[i,k] <= cp * y[j,k] suffix block j;

s.t. R2_capacidade_mochila_volume {j in J, k in K}:
   sum {i in I} v[i,k] * e[i,j,k] * inner[i,k] <= cv * y[j,k] suffix block j;

s.t. R3_capacidade_mochila_pecas {j in J, k in K}:
   sum {i in I} e[i,j,k] * inner[i,k] <= np * y[j,k] suffix block j;

s.t. R4_quantidade_demanda {i in I, k in K}:
   sum {j in J} e[i,j,k]* inner[i,k] = d[i,k] suffix master 1;

In [131]:
# %%ampl_eval
# param n;
# param cv;
# param cp;
# param np;
# param r;

# suffix master IN, binary;
# suffix block IN, integer;

# set I = 1..n ordered;
# set K = 1..r ordered;
# param w {I,K} >= 0;
# param v {I,K} >= 0;
# param inner{I,K} >= 0;
# param d {I,K} >= 0;

# param maxVal_peso := max {i in I, k in K} w[i,k];
# param maxVal_volume := max {i in I, k in K} v[i,k];
# param pecas_por_caixa_peso := floor(cp / maxVal_peso);
# param pecas_por_caixa_volume := floor(cv / maxVal_volume);
# param pecas_caixa := min(pecas_por_caixa_peso, pecas_por_caixa_volume);

# param soma {k in K} := sum {i in I} d[i,k];
# param soma_max := max {k in K} soma[k];
# param maxbins := ceil(soma_max / pecas_caixa);

# set J = 1..maxbins ordered;

# var e {I,J,K} integer >= 0;
# var y {J,K} binary;

# minimize FO:  sum {j in J, k in K} y[j,k];

# s.t. R1_capacidade_mochila_peso {j in J, k in K}:
#    sum {i in I} w[i,k] * e[i,j,k] * inner[i,k] <= cp * y[j,k] suffix block j;

# s.t. R2_capacidade_mochila_volume {j in J, k in K}:
#    sum {i in I} v[i,k] * e[i,j,k] * inner[i,k] <= cv * y[j,k] suffix block j;

# s.t. R3_capacidade_mochila_pecas {j in J, k in K}:
#    sum {i in I} e[i,j,k] * inner[i,k] <= np * y[j,k] suffix block j;

# s.t. R4_quantidade_demanda {i in I, k in K}:
#    sum {j in J} e[i,j,k]* inner[i,k] = d[i,k] suffix master 1;

### 1.5.1- Importar dados

In [132]:
df_process

,Id,Ordem_de_produção,Data_da_ordem_de_produção,Produto,Comprimento_unit,Largura_unit,Altura_unit,Peso_unit,Peças,Caixa_padrão,...,Cor,Tamanho,Inner,Rota,Capacidade,pai-cor,Volume_unit,Volume_total,Peso_total,chave_loja_buffer_onda
0,0,2,2023-11-14,828646451,284,131,50,0.250,3,CARTON_M,...,2,2,1,11,2.720000e+10,2-2,1860200,5580600,0.750,2_CX_2
1,1,3,2023-11-09,605410977,250,100,14,0.120,1,CARTON_M,...,3,3,1,5,2.720000e+10,3-3,350000,350000,0.120,3_CX_1
2,2,7,2023-11-11,545612218,81,87,162,0.640,1,CARTON_S,...,0,7,1,1,inf,7-0,1141614,1141614,0.640,6_CX_6
3,3,8,2023-11-24,861652334,248,216,128,0.300,5,CARTON_M,...,7,5,1,3,inf,8-7,6856704,34283520,1.500,7_CX_4
4,4,9,2023-11-13,879695703,393,295,32,0.520,2,CARTON_M,...,8,8,1,11,2.720000e+10,9-8,3709920,7419840,1.040,2_CX_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58453,58453,68,2023-11-07,843672948,485,377,30,0.233,3,CARTON_M,...,4,1,1,1,inf,353-4,5485350,16456050,0.699,9_EN_3
58454,58454,8926,2023-11-23,796269830,443,268,19,0.140,4,CARTON_M,...,2,14,1,4,inf,958-2,2255756,9023024,0.560,149_EN_2
58455,58455,257,2023-11-07,611398476,412,281,27,0.440,1,CARTON_M,...,22,1,1,3,inf,554-22,3125844,3125844,0.440,50_EN_4
58456,58456,8936,2023-11-24,882144507,387,283,18,0.107,4,CARTON_M,...,9,115,1,3,inf,130-9,1971378,7885512,0.428,82_EN_2
58457,58457,916,2023-11-21,542772161,250,100,25,0.145,10,CARTON_M,...,1,3,1,3,inf,1669-1,625000,6250000,1.450,11_EN_1

In [133]:
df_process.columns

Index(['Id', 'Ordem_de_produção', 'Data_da_ordem_de_produção', 'Produto',
       'Comprimento_unit', 'Largura_unit', 'Altura_unit', 'Peso_unit', 'Peças',
       'Caixa_padrão', 'Loja', 'Classe_de_onda', 'Tipo_de_buffer', 'Item_pai',
       'Cor', 'Tamanho', 'Inner', 'Rota', 'Capacidade', 'pai-cor',
       'Volume_unit', 'Volume_total', 'Peso_total', 'chave_loja_buffer_onda'],
      dtype='object')

In [134]:
df_process.query('chave_loja_buffer_onda in ("16_EN_3","9_EN_4","33_EN_3")').groupby(['chave_loja_buffer_onda']).agg({'Peso_unit':'sum', 'Volume_unit':'sum', 'Peças':'sum'})\
                                                                                                                .sort_values(by='Peças', ascending=False)

                        Peso_unit  Volume_unit  Peças
chave_loja_buffer_onda
16_EN_3                    60.809    930529268   1636
33_EN_3                    74.834   1151591578   1335
9_EN_4                    110.445   1644530130   1297

**Lojas selecionadas**: vamos testar as lojas que têm mais peças para estressar os modelos.
<p>Lojas selecionadas (loja-classe de onda-buffer): 16-3-EN, 33-3-EN, 9-4-EN 
<p>Todos estão na rota 1 e são encabidados (EN)

In [135]:
df_process_situacao5 = df_process.query('chave_loja_buffer_onda in ["16_EN_3","9_EN_4","33_EN_3"]')

df_process_situacao5

,Id,Ordem_de_produção,Data_da_ordem_de_produção,Produto,Comprimento_unit,Largura_unit,Altura_unit,Peso_unit,Peças,Caixa_padrão,...,Cor,Tamanho,Inner,Rota,Capacidade,pai-cor,Volume_unit,Volume_total,Peso_total,chave_loja_buffer_onda
31530,31530,42,2023-11-17,882146001,447,337,22,0.300,2,CARTON_M,...,27,6,1,1,inf,42-27,3314058,6628116,0.600,9_EN_4
31544,31544,68,2023-11-14,597596512,461,231,124,0.660,2,CARTON_M,...,22,13,1,1,inf,68-22,13204884,26409768,1.320,33_EN_3
31547,31547,77,2023-11-16,806471223,509,297,25,0.470,8,CARTON_M,...,4,13,1,1,inf,77-4,3779325,30234600,3.760,33_EN_3
31594,31594,105,2023-11-14,553139601,439,277,24,0.208,1,CARTON_M,...,54,1,1,1,inf,177-54,2918472,2918472,0.208,9_EN_4
31598,31598,185,2023-11-16,879651866,450,300,25,0.310,11,CARTON_M,...,50,1,1,1,inf,185-50,3375000,37125000,3.410,16_EN_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58404,58404,8451,2023-11-22,847852356,524,313,67,0.375,10,CARTON_M,...,18,5,1,1,inf,1714-18,10988804,109888040,3.750,9_EN_4
58406,58406,1554,2023-11-07,550056560,524,268,20,0.238,2,CARTON_M,...,4,5,1,1,inf,290-4,2808640,5617280,0.476,16_EN_3
58412,58412,8538,2023-11-16,834665720,414,259,46,0.300,3,CARTON_M,...,274,1,1,1,inf,1820-274,4932396,14797188,0.900,9_EN_4
58422,58422,8595,2023-11-17,883246441,448,355,28,0.320,11,CARTON_M,...,339,5,1,1,inf,954-339,4453120,48984320,3.520,9_EN_4
58447,58447,8859,2023-11-14,853250917,471,321,50,0.440,3,CARTON_M,...,88,5,1,1,inf,1489-88,7559550,22678650,1.320,9_EN_4

### 1.5.2- Entrada de dados no modelo

In [136]:
df_process_situacao5.columns

Index(['Id', 'Ordem_de_produção', 'Data_da_ordem_de_produção', 'Produto',
       'Comprimento_unit', 'Largura_unit', 'Altura_unit', 'Peso_unit', 'Peças',
       'Caixa_padrão', 'Loja', 'Classe_de_onda', 'Tipo_de_buffer', 'Item_pai',
       'Cor', 'Tamanho', 'Inner', 'Rota', 'Capacidade', 'pai-cor',
       'Volume_unit', 'Volume_total', 'Peso_total', 'chave_loja_buffer_onda'],
      dtype='object')

In [137]:
# Adicionar uma coluna para identificar cada item dentro de cada chave_loja_buffer_onda
df_process_situacao5['item_loja'] = df_process_situacao5.groupby('chave_loja_buffer_onda').cumcount() + 1

# Variável avaliada:
variavel_ik = 'Peso_unit'

df_matriz_peso = df_process_situacao5.pivot_table(index='item_loja', columns='chave_loja_buffer_onda', values= variavel_ik, fill_value=0).reset_index()

df_matriz_peso.columns.name = None

df_matriz_peso

     item_loja  16_EN_3  33_EN_3  9_EN_4
0            1     0.31     0.66   0.300
1            2     0.14     0.47   0.208
2            3     0.18     0.65   0.253
3            4     0.19     0.18   0.390
4            5     0.53     0.25   0.260
..         ...      ...      ...     ...
330        331     0.00     0.00   0.293
331        332     0.00     0.00   0.375
332        333     0.00     0.00   0.300
333        334     0.00     0.00   0.320
334        335     0.00     0.00   0.440

[335 rows x 4 columns]

Verificação dos resultados

In [138]:
df_process_situacao5[['Id', 'item_loja','chave_loja_buffer_onda','Peso_unit', 'Volume_unit', 'Inner','Peças']].head(10).T

,31530,31544,31547,31594,31598,31610,31622,31671,31697,31716
Id,31530,31544,31547,31594,31598,31610,31622,31671,31697,31716
item_loja,1,1,2,2,1,3,4,2,5,3
chave_loja_buffer_onda,9_EN_4,33_EN_3,33_EN_3,9_EN_4,16_EN_3,33_EN_3,33_EN_3,16_EN_3,33_EN_3,9_EN_4
Peso_unit,0.3,0.66,0.47,0.208,0.31,0.65,0.18,0.14,0.25,0.253
Volume_unit,3314058,13204884,3779325,2918472,3375000,12661800,3128300,3373608,2776813,4718000
Inner,1,1,1,1,1,1,1,1,1,1
Peças,2,2,8,1,11,12,3,3,2,1

In [139]:
# Adicionar uma coluna para identificar cada item dentro de cada loja
df_process_situacao5['item_loja'] = df_process_situacao5.groupby('chave_loja_buffer_onda').cumcount() + 1

# Variável avaliada:
variavel_ik = 'Volume_unit'

df_matriz_volume = df_process_situacao5.pivot_table(index='item_loja', columns='chave_loja_buffer_onda', values= variavel_ik, fill_value=0).reset_index()

df_matriz_volume.columns.name = None

df_matriz_volume

     item_loja    16_EN_3     33_EN_3      9_EN_4
0            1  3375000.0  13204884.0   3314058.0
1            2  3373608.0   3779325.0   2918472.0
2            3  2903580.0  12661800.0   4718000.0
3            4  2947287.0   3128300.0   7765314.0
4            5  9139475.0   2776813.0   3341250.0
..         ...        ...         ...         ...
330        331        0.0         0.0   5861124.0
331        332        0.0         0.0  10988804.0
332        333        0.0         0.0   4932396.0
333        334        0.0         0.0   4453120.0
334        335        0.0         0.0   7559550.0

[335 rows x 4 columns]

In [140]:
# Adicionar uma coluna para identificar cada item dentro de cada loja
df_process_situacao5['item_loja'] = df_process_situacao5.groupby('chave_loja_buffer_onda').cumcount() + 1

# Variável avaliada:
variavel_ik = 'Inner'

df_matriz_inner = df_process_situacao5.pivot_table(index='item_loja', columns='chave_loja_buffer_onda', values= variavel_ik, fill_value=0).reset_index()

df_matriz_inner.columns.name = None

df_matriz_inner

     item_loja  16_EN_3  33_EN_3  9_EN_4
0            1      1.0      1.0     1.0
1            2      1.0      1.0     1.0
2            3      1.0      1.0     1.0
3            4      1.0      1.0     1.0
4            5      1.0      1.0     1.0
..         ...      ...      ...     ...
330        331      0.0      0.0     1.0
331        332      0.0      0.0     1.0
332        333      0.0      0.0     1.0
333        334      0.0      0.0     1.0
334        335      0.0      0.0     1.0

[335 rows x 4 columns]

In [141]:
# Adicionar uma coluna para identificar cada item dentro de cada loja
df_process_situacao5['item_loja'] = df_process_situacao5.groupby('chave_loja_buffer_onda').cumcount() + 1

# Variável avaliada:
variavel_ik = 'Peças'

df_matriz_pecas = df_process_situacao5.pivot_table(index='item_loja', columns='chave_loja_buffer_onda', values= variavel_ik, fill_value=0).reset_index()

df_matriz_pecas.columns.name = None

df_matriz_pecas

     item_loja  16_EN_3  33_EN_3  9_EN_4
0            1     11.0      2.0     2.0
1            2      3.0      8.0     1.0
2            3      3.0     12.0     1.0
3            4     17.0      3.0     2.0
4            5     13.0      2.0     3.0
..         ...      ...      ...     ...
330        331      0.0      0.0     1.0
331        332      0.0      0.0    10.0
332        333      0.0      0.0     3.0
333        334      0.0      0.0    11.0
334        335      0.0      0.0     3.0

[335 rows x 4 columns]

In [142]:
peso =  df_matriz_peso
pecas = df_matriz_pecas  #demanda
volume = df_matriz_volume
inner = df_matriz_inner

In [143]:
buffer = df_process_situacao5['Tipo_de_buffer'].unique()[0]
cp = df_caixas_padrao.query(f'Tipo_de_buffer == "{buffer}"')['Peso_max_(kg)'].values
cv = df_caixas_padrao.query(f'Tipo_de_buffer == "{buffer}"')['volume_util_caixa'].values
np = df_caixas_padrao.query(f'Tipo_de_buffer == "{buffer}"')['Peças_max'].values

print(cp, cv, np)

[23] [75538008.] [512]

In [144]:
print(len(volume))
print(len(volume.columns))

335
4

In [145]:
volume.head()

   item_loja    16_EN_3     33_EN_3     9_EN_4
0          1  3375000.0  13204884.0  3314058.0
1          2  3373608.0   3779325.0  2918472.0
2          3  2903580.0  12661800.0  4718000.0
3          4  2947287.0   3128300.0  7765314.0
4          5  9139475.0   2776813.0  3341250.0

#### Parâmetros

In [146]:
ampl.param["n"] = len(pecas)   # tamanho da loa que tem mais itens

ampl.param["cp"] = cp
ampl.param["cv"] = cv
ampl.param["np"] = np
ampl.param["r"] = len(volume.columns) -1

v = volume.drop(columns='item_loja')
w = peso.drop(columns='item_loja')
d= pecas.drop(columns='item_loja')
inner_ = inner.drop(columns='item_loja')

ampl.param["w"] = {(i, k): w.iloc[i - 1][k - 1] for i in range(1, len(w)+1) for k in range(1, len(w.columns)+1)}
ampl.param["v"] = {(i, k): v.iloc[i - 1][k - 1] for i in range(1, len(v)+1) for k in range(1, len(v.columns)+1)}
ampl.param["d"] = {(i, k): d.iloc[i - 1][k - 1] for i in range(1, len(d)+1) for k in range(1, len(d.columns)+1)}
ampl.param["inner"] = {(i, k): inner_.iloc[i - 1][k - 1] for i in range(1, len(inner_)+1) for k in range(1, len(inner_.columns)+1)}

In [184]:
ampl.getValue('soma')

4268

In [186]:
ampl.getValue('cp')

23

In [183]:
ampl.getValue('maxbins')

214

In [185]:
ampl.getValue('maxVal')

1.14

Salvar arqquivo para AMPL .dat

In [147]:
# # Abrir arquivo .dat para escrever
# with open('CSP_v4.dat', 'w') as f:
#     # Escrever os valores das matrizes no arquivo .dat
#     f.write('param w :=\n')
#     for i, row in enumerate(peso.drop(columns='item_loja').values):
#         for j, value in enumerate(row):
#             f.write(f'    {i+1} {j+1} {value}\n')
#     f.write(';\n')

#     f.write('param v :=\n')
#     for i, row in enumerate(volume.drop(columns='item_loja').values):
#         for j, value in enumerate(row):
#             f.write(f'    {i+1} {j+1} {value}\n')
#     f.write(';\n')

#     f.write('param d :=\n')
#     for i, row in enumerate(pecas.drop(columns='item_loja').values):
#         for j, value in enumerate(row):
#             f.write(f'    {i+1} {j+1} {value}\n')
#     f.write(';\n')

#     f.write('param inner :=\n')
#     for i, row in enumerate(inner.drop(columns='item_loja').values):
#         for j, value in enumerate(row):
#             f.write(f'    {i+1} {j+1} {value}\n')
#     f.write(';\n')

#     # Escrever os parâmetros no arquivo .dat
#     f.write(f'param cp := {cp[0]};\n')
#     f.write(f'param cv := {cv[0]};\n')
#     f.write(f'param np := {np[0]};\n')
#     f.write(f'param n := {len(pecas)};\n')
#     f.write(f'param r := {len(volume.columns) -1};\n')

In [148]:
cp[0]

23

In [149]:
w.iloc[4,0]

0.53

In [150]:
w

     16_EN_3  33_EN_3  9_EN_4
0       0.31     0.66   0.300
1       0.14     0.47   0.208
2       0.18     0.65   0.253
3       0.19     0.18   0.390
4       0.53     0.25   0.260
..       ...      ...     ...
330     0.00     0.00   0.293
331     0.00     0.00   0.375
332     0.00     0.00   0.300
333     0.00     0.00   0.320
334     0.00     0.00   0.440

[335 rows x 3 columns]

In [151]:
ampl.display(inner)

file -
line 1
offset 24
item_loja is not defined
context:  display      item_loja   >>> 16_EN_3  <<<  33_EN_3  9_EN_4

### 1.5.3- Outros Solvers

#### Solver GCG

In [152]:
ampl.option["solver"] = "gcg"
ampl.option["gcg_options"] = "outlev=1 timelimit=240"
ampl.solve()

GCG 4.0.0:   tech:outlev = 1
  lim:time = 240
 added complete decomp for original problem with 214 blocks and 797 masterconss, 0 linkingvars, 0 mastervars, and max white score of   0.704003
presolving:
(round 1, exhaustive) 0 del vars, 0 del conss, 0 add conss, 0 chg bounds, 0 chg sides, 0 chg coeffs, 189 upgd conss, 0 impls, 189 clqs
   (3.0s) probing: 51/41088 (0.1%) - 0 fixings, 0 aggregations, 0 implications, 0 bound changes
   (3.0s) probing aborted: 50/50 successive totally useless probings
presolving (2 rounds: 2 fast, 2 medium, 2 exhaustive):
 0 deleted vars, 0 deleted constraints, 0 added constraints, 0 tightened bounds, 0 added holes, 0 changed sides, 0 changed coefficients
 0 implications, 189 cliques
presolved problem has 171200 variables (41088 bin, 130112 int, 0 impl, 0 cont) and 2723 constraints
    189 constraints of type <setppc>
   2534 constraints of type <linear>
transformed objective value is always integral (scale: 1)
Presolving Time: 3.00
 calculated translation; number of missing constraints: 0; number of other partialdecs: 1
Preexisting decomposition found. Solution process started...

A Dantzig-Wolfe reformulation is applied to solve the original problem.
Chosen structure has 214 blocks and 797 linking constraints.
This decomposition has a maxwhite score of 0.704003.
Matrix has 214 blocks, using 1 aggregated pricing problem.

  time | node  | left  |SLP iter|MLP iter|LP it/n| mem |mdpt |ovars|mvars|ocons|mcons|mcuts|  dualbound   | primalbound  |  deg   |  gap
p 24.0s|     1 |     0 |      0 |      0 |     - |1114M|   0 | 171k|   0 |2724 |   0 |   0 | 0.000000e+00 | 6.420000e+02 |   --   |    Inf
i 24.0s|     1 |     0 |      0 |      0 |     - |1093M|   0 | 171k|   0 |2724 |   0 |   0 | 0.000000e+00 | 2.840000e+02 |   --   |    Inf
  33.0s|     1 |     0 |      0 |      0 |     - |1091M|   0 | 171k|   0 |2724 |   0 |   0 | 2.705764e+02 | 2.840000e+02 |   --   |   4.96%


  34.0s|     1 |     0 |      0 |      0 |     - |1108M|   0 | 171k| 214 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |   0.00%|   4.96%
  34.0s|     1 |     0 |      0 |      0 |     - |1108M|   0 | 171k| 428 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |   0.00%|   4.96%
Starting reduced cost pricing...
  35.0s|     1 |     0 |    980 |    980 |     - |1109M|   0 | 171k| 646 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |  85.59%|   4.96%
  37.0s|     1 |     0 |   2805 |   2805 |     - |1110M|   0 | 171k| 820 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |  85.59%|   4.96%
  38.0s|     1 |     0 |   6210 |   6210 |     - |1111M|   0 | 171k|1000 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |  85.59%|   4.96%
  40.0s|     1 |     0 |  10438 |  10438 |     - |1112M|   0 | 171k|1180 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |  85.59%|   4.96%
  43.0s|     1 |     0 |  17161 |  17161 |     - |1112M|   0 | 171k|1350 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |  85.59%|   4.96%
  48.0s|     1 |     0 |  29113 |  29113 |     - |1114M|   0 | 171k|1567 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |  85.59%|   4.96%
  56.0s|     1 |     0 |  43263 |  43263 |     - |1115M|   0 | 171k|1755 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |  85.59%|   4.96%
  70.0s|     1 |     0 |  60178 |  60178 |     - |1116M|   0 | 171k|1929 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |  85.59%|   4.96%
  86.0s|     1 |     0 |  78576 |  78576 |     - |1117M|   0 | 171k|2086 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |  85.59%|   4.96%
   114s|     1 |     0 | 110248 | 110248 |     - |1118M|   0 | 171k|2291 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |  85.59%|   4.96%
  time | node  | left  |SLP iter|MLP iter|LP it/n| mem |mdpt |ovars|mvars|ocons|mcons|mcuts|  dualbound   | primalbound  |  deg   |  gap
   150s|     1 |     0 | 138761 | 138761 |     - |1120M|   0 | 171k|2446 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |  85.59%|   4.96%
   195s|     1 |     0 | 166453 | 166453 |     - |1121M|   0 | 171k|2584 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |  85.59%|   4.96%
   245s|     1 |     0 | 193301 | 193301 |     - |1122M|   0 | 171k|2707 |2724 | 799 |   0 | 2.705764e+02 | 2.840000e+02 |  85.59%|   4.96%
(node 1) LP solver hit time limit in LP 1275 -- using pseudo solution instead

SCIP Status        : solving was interrupted [time limit reached]
Solving Time (sec) : 211.00
Solving Nodes      : 1
Primal Bound       : +2.84000000000000e+02 (2 solutions)
Dual Bound         : +2.70576392589013e+02
Gap                : 4.96 %

SCIP Status        : solving was interrupted [time limit reached]
Solving Time (sec) : 245.00
Solving Nodes      : 1
Primal Bound       : +2.84000000000000e+02 (2 solutions)
Dual Bound         : +2.70576392589013e+02
Gap                : 4.96 %
No dual solution available.
Pricing time in colpool = 0.000000 sec
GCG 4.0.0: time limit, feasible solution
30393 simplex iterations
1 branching nodes
absmipgap=13.4236, relmipgap=0.0496112

In [153]:
%%ampl_eval
display {j in J, k in K} y[j,k];

y[j,k] [*,*]
:     1   2   3    :=
1     1   1   1
2     1   1   1
3     1   1   1
4     1   1   1
5     1   1   1
6     1   1   1
7     1   1   1
8     1   1   1
9     1   1   1
10    1   1   1
11    1   1   1
12    1   1   1
13    1   1   1
14    1   1   1
15    1   1   1
16    1   1   1
17    1   1   1
18    1   1   1
19    1   1   1
20    1   1   1
21    1   1   1
22    1   1   1
23    1   1   1
24    1   1   1
25    1   1   1
26    1   1   1
27    1   1   1
28    1   1   1
29    1   1   1
30    1   1   1
31    1   1   1
32    1   1   1
33    1   1   1
34    1   1   1
35    1   1   1
36    1   1   1
37    1   1   1
38    1   1   1
39    1   1   1
40    1   1   1
41    1   1   1
42    1   1   1
43    1   1   1
44    1   1   1
45    1   1   1
46    1   1   1
47    1   1   1
48    1   1   1
49    1   1   1
50    1   1   1
51    1   1   1
52    1   1   1
53    1   1   1
54    0   1   1
55    0   1   1
56    0   1   1
57    0   0   1
58    0   0   1
59    0   0   1
60    0   0   1
61    0   0   1
62    0   0   1
63    0   0   1
64    0   0   1
65    0   0   1
66    0   0   1
67    0   0   1
68    0   0   1
69    0   0   1
70    0   0   1
71    0   0   1
72    0   0   0
73    0   0   0
74    0   0   0
75    0   0   0
76    0   0   0
77    0   0   0
78    0   0   0
79    0   0   0
80    0   0   0
81    0   0   0
82    0   0   0
83    0   0   0
84    0   0   0
85    0   0   0
86    0   0   0
87    0   0   0
88    0   0   0
89    0   0   0
90    0   0   0
91    0   0   0
92    0   0   0
93    0   0   0
94    0   0   0
95    0   0   0
96    0   0   0
97    0   0   0
98    0   0   0
99    0   0   0
100   0   0   0
101   0   0   0
102   0   0   0
103   0   0   0
104   0   0   0
105   0   0   0
106   0   0   0
107   0   0   0
108   0   0   0
109   0   0   0
110   0   0   0
111   0   0   0
112   0   0   0
113   0   0   0
114   0   0   0
115   0   0   0
116   0   0   0
117   0   0   0
118   0   0   0
119   0   0   0
120   0   0   0
121   0   0   0
122   0   0   0
123   0   0   0
124   0   0   0
125   0   0   0
126   0   0   0
127   0   0   0
128   0   0   0
129   0   0   0
130   0   0   0
131   0   0   0
132   0   0   0
133   0   0   0
134   0   0   0
135   0   0   0
136   0   0   0
137   0   0   0
138   0   0   0
139   0   0   0
140   0   0   0
141   0   0   0
142   0   0   0
143   0   0   0
144   0   0   0
145   0   0   0
146   0   0   0
147   0   0   0
148   0   0   0
149   0   0   0
150   0   0   0
151   0   0   0
152   0   0   0
153   0   0   0
154   0   0   0
155   0   0   0
156   0   0   0
157   0   0   0
158   0   0   0
159   0   0   0
160   0   0   0
161   0   0   0
162   0   0   0
163   0   0   0
164   0   0   0
165   0   0   0
166   0   0   0
167   1   0   0
168   1   0   0
169   1   0   0
170   1   0   0
171   1   0   0
172   1   0   0
173   1   0   0
174   1   1   0
175   1   1   0
176   1   1   0
177   1   1   0
178   1   1   0
179   1   1   0
180   1   1   0
181   1   1   0
182   1   1   0
183   1   1   0
184   1   1   0
185   1   1   0
186   1   1   0
187   1   1   0
188   1   1   0
189   1   1   0
190   1   1   0
191   1   1   0
192   1   1   0
193   1   1   0
194   1   1   0
195   1   1   0
196   1   1   0
197   1   1   0
198   1   1   0
199   1   1   0
200   1   1   1
201   1   1   1
202   1   1   1
203   1   1   1
204   1   1   1
205   1   1   1
206   1   1   1
207   1   1   1
208   1   1   1
209   1   1   1
210   1   1   1
211   1   1   1
212   1   1   1
213   1   1   1
214   1   1   1
;

In [154]:
e_s5 = ampl.getVariable('e').getValues().toPandas()
e_s5 = e_s5.reset_index()
e_s5.columns = ['item_loja','caixa', 'chave_loja_buffer_onda', 'valor_multiplo']
e_s5 = e_s5.query('valor_multiplo >0')
e_s5#.head(20)

        item_loja  caixa  chave_loja_buffer_onda  valor_multiplo
0               1      1                       1              11
1               1      1                       2               2
2               1      1                       3               2
642             2      1                       1               3
643             2      1                       2               8
...           ...    ...                     ...             ...
213101        332    200                       3               6
213104        332    201                       3               4
213344        333     67                       3               3
213995        334     70                       3              11
214640        335     71                       3               3

[905 rows x 4 columns]

In [155]:
e_s5.query('chave_loja_buffer_onda == 1').pivot_table(index='item_loja', columns='caixa', values='valor_multiplo', fill_value=0)

caixa,1,2,3,4,5,6,7,8,9,10,...,205,206,207,208,209,210,211,212,213,214
item_loja,,,,,,,,,,,,,,,,,,,,,
1,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,5.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
219,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
221,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [156]:
df_agrupamento_loja1 = e_s5.query('chave_loja_buffer_onda == 1').pivot_table(index='item_loja', columns='caixa', values='valor_multiplo', fill_value=0)
df_agrupamento_loja1 = df_agrupamento_loja1.reset_index()
df_agrupamento_loja1.columns.name = None
df_agrupamento_loja1 # as colunas são as caixas

,item_loja,1,2,3,4,5,6,7,8,9,...,205,206,207,208,209,210,211,212,213,214
0,1,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,5.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
218,219,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
219,220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220,221,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
221,222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [157]:
df_agrupamento_loja2 = e_s5.query('chave_loja_buffer_onda == 2').pivot_table(index='item_loja', columns='caixa', values='valor_multiplo', fill_value=0)
df_agrupamento_loja2 = df_agrupamento_loja2.reset_index()
df_agrupamento_loja2.columns.name = None
df_agrupamento_loja2 # as colunas são as caixas

,item_loja,1,2,3,4,5,6,7,8,9,...,205,206,207,208,209,210,211,212,213,214
0,1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,5.0,5.0,0.0,0.0,0.0
3,4,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
236,237,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
237,238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
238,239,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
239,240,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [158]:
df_agrupamento_loja3 = e_s5.query('chave_loja_buffer_onda == 3').pivot_table(index='item_loja', columns='caixa', values='valor_multiplo', fill_value=0)
df_agrupamento_loja3 = df_agrupamento_loja3.reset_index()
df_agrupamento_loja3.columns.name = None
df_agrupamento_loja3 # as colunas são as caixas

,item_loja,1,2,3,4,5,6,7,8,9,...,205,206,207,208,209,210,211,212,213,214
0,1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,331,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
331,332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
332,333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333,334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
334,335,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Identificação do id de cada item

In [159]:
#Pegar a ordem das lojas:
w.columns

Index(['16_EN_3', '33_EN_3', '9_EN_4'], dtype='string')

In [160]:
vetores_por_loja = {}

# Iterar sobre cada grupo (grupo de cada loja)
for nome_loja, grupo in df_process_situacao5.groupby('chave_loja_buffer_onda'):
    # Extrair os IDs do grupo como um vetor
    vetor_ids = grupo['Id'].tolist()
    # Adicionar o vetor à lista de vetores, usando o nome da loja como chave
    vetores_por_loja[nome_loja] = vetor_ids
    # Atribuir o vetor a uma variável com o nome da loja
    exec(f'vetor_{nome_loja} = vetor_ids')

In [161]:
# Lista dos caracteres finais dos nomes dos vetores
char_final = [col for col in w.columns[:3]]

# Criar o dicionário mapeando os caracteres finais aos vetores
vetores = {char: globals()[f'vetor_{char}'] for char in char_final}

In [162]:
for i in range(0,3):
    print(f'tamanho do vetor {i+1} (chave "{w.columns[i]}"): {len(vetores[f"{w.columns[i]}"])}')

tamanho do vetor 1 (chave "16_EN_3"): 222
tamanho do vetor 2 (chave "33_EN_3"): 240
tamanho do vetor 3 (chave "9_EN_4"): 335

In [163]:
df_agrupamento_loja1['Id'] = vetores[f"{w.columns[0]}"]
df_agrupamento_loja1['chave_loja_buffer_onda'] = list(w.columns)[0]

df_agrupamento_loja1

,item_loja,1,2,3,4,5,6,7,8,9,...,207,208,209,210,211,212,213,214,Id,chave_loja_buffer_onda
0,1,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31598,16_EN_3
1,2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31671,16_EN_3
2,3,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32141,16_EN_3
3,4,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32233,16_EN_3
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,5.0,0.0,0.0,32357,16_EN_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57988,16_EN_3
218,219,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57998,16_EN_3
219,220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58291,16_EN_3
220,221,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,58363,16_EN_3
221,222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58406,16_EN_3

In [164]:
print(f'vetor_{list(w.columns)[1]}')

vetor_33_EN_3

In [165]:
df_agrupamento_loja2['Id'] = vetores[f"{w.columns[1]}"]
df_agrupamento_loja2['chave_loja_buffer_onda'] = list(w.columns)[1]

df_agrupamento_loja2

,item_loja,1,2,3,4,5,6,7,8,9,...,207,208,209,210,211,212,213,214,Id,chave_loja_buffer_onda
0,1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31544,33_EN_3
1,2,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31547,33_EN_3
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,5.0,5.0,0.0,0.0,0.0,31610,33_EN_3
3,4,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31622,33_EN_3
4,5,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31697,33_EN_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57727,33_EN_3
236,237,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57872,33_EN_3
237,238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57981,33_EN_3
238,239,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58341,33_EN_3
239,240,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58367,33_EN_3

In [166]:
df_agrupamento_loja3['Id'] = vetores[f"{w.columns[2]}"]
df_agrupamento_loja3['chave_loja_buffer_onda'] = list(w.columns)[2]

df_agrupamento_loja3

,item_loja,1,2,3,4,5,6,7,8,9,...,207,208,209,210,211,212,213,214,Id,chave_loja_buffer_onda
0,1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31530,9_EN_4
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,31594,9_EN_4
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,31716,9_EN_4
3,4,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31802,9_EN_4
4,5,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31837,9_EN_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,331,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,58307,9_EN_4
331,332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58404,9_EN_4
332,333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58412,9_EN_4
333,334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58422,9_EN_4
334,335,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58447,9_EN_4

Verificação

In [167]:
df_agrupamento_loja3.query('Id == 31530').T

                             0
item_loja                    1
1                          2.0
2                          0.0
3                          0.0
4                          0.0
...                        ...
212                        0.0
213                        0.0
214                        0.0
Id                       31530
chave_loja_buffer_onda  9_EN_4

[89 rows x 1 columns]

Caixas selecionadas para cada loja:

In [168]:
y_s5 = ampl.getVariable('y').getValues().toPandas()
y_s5 = y_s5.reset_index()
y_s5.columns = ['Caixa','chave_loja_buffer_onda', 'selecao']
y_s5 = y_s5.query('selecao>0')

df_caixas_por_loja = y_s5.pivot_table(index='Caixa', columns='chave_loja_buffer_onda', values='selecao', fill_value=0)
df_caixas_por_loja = df_caixas_por_loja.reset_index()
df_caixas_por_loja.columns.name = None
df_caixas_por_loja # as colunas são as caixas

     Caixa    1    2    3
0        1  1.0  1.0  1.0
1        2  1.0  1.0  1.0
2        3  1.0  1.0  1.0
3        4  1.0  1.0  1.0
4        5  1.0  1.0  1.0
..     ...  ...  ...  ...
114    210  1.0  1.0  1.0
115    211  1.0  1.0  1.0
116    212  1.0  1.0  1.0
117    213  1.0  1.0  1.0
118    214  1.0  1.0  1.0

[119 rows x 4 columns]

In [169]:
w.columns

Index(['16_EN_3', '33_EN_3', '9_EN_4'], dtype='string')

In [170]:
df_caixas_por_loja.columns = (['caixas'] + list(w.columns)) # os número das colunas são os nomes das lojas
df_caixas_por_loja

     caixas  16_EN_3  33_EN_3  9_EN_4
0         1      1.0      1.0     1.0
1         2      1.0      1.0     1.0
2         3      1.0      1.0     1.0
3         4      1.0      1.0     1.0
4         5      1.0      1.0     1.0
..      ...      ...      ...     ...
114     210      1.0      1.0     1.0
115     211      1.0      1.0     1.0
116     212      1.0      1.0     1.0
117     213      1.0      1.0     1.0
118     214      1.0      1.0     1.0

[119 rows x 4 columns]

In [171]:
print('Solver GCG')
for col in w.columns:
    print(f'número de caixas para a chave_loja_buffer_onda "{col}": {df_caixas_por_loja[f"{col}"].sum()}')

Solver GCG
número de caixas para a chave_loja_buffer_onda "16_EN_3": 101.0
número de caixas para a chave_loja_buffer_onda "33_EN_3": 97.0
número de caixas para a chave_loja_buffer_onda "9_EN_4": 86.0

In [172]:
vetores.keys()

dict_keys(['16_EN_3', '33_EN_3', '9_EN_4'])

#### Solver Highs

In [174]:
ampl.option["solver"] = "highs"
ampl.option["highs_options"] = "outlev=1 timelimit=240"
ampl.solve()

HiGHS 1.7.0:   tech:outlev = 1
  lim:time = 240
Running HiGHS 1.7.0 (git hash: 50670fd): Copyright (c) 2024 HiGHS under MIT licence terms
Coefficient ranges:
  Matrix [8e-02, 8e+07]
  Cost   [1e+00, 1e+00]
  Bound  [1e+00, 2e+01]
  RHS    [1e+00, 3e+01]
Assessing feasibility of MIP using primal feasibility and integrality tolerance of       1e-06
Solution has               num          max          sum
Col     infeasibilities      0            0            0
Integer infeasibilities      0            0            0
Row     infeasibilities      0            0            0
Row     residuals            0            0            0
Presolving model
2723 rows, 171200 cols, 684158 nonzeros  0s
2723 rows, 171200 cols, 684158 nonzeros  3s

MIP start solution is feasible, objective value is 284
Objective function is integral with scale 1

Solving MIP model with:
   2723 rows
   171200 cols (41088 binary, 130112 integer, 0 implied int., 0 continuous)
   684158 nonzeros

        Nodes      |    B&B Tree     |            Objective Bounds              |  Dynamic Constraints |       Work
     Proc. InQueue |  Leaves   Expl. | BestBound       BestSol              Gap |   Cuts   InLp Confl. | LpIters     Time

         0       0         0   0.00%   0               284              100.00%        0      0      0         0     3.9s
         0       0         0   0.00%   270.5763926     284                4.73%        0      0      0     19593    19.6s
         0       0         0   0.00%   270.5763926     284                4.73%     1511    544     36     20993    31.4s
         0       0         0   0.00%   270.5763926     284                4.73%     2765    826     36     22539    37.0s
 L       0       0         0   0.00%   270.5763926     275                1.61%     2891    891     36     22756    70.1s

Symmetry detection completed in 32.2s
Found 362 generators and 10 full orbitope(s) acting on 4494 columns

       881     880         1   0.00%   270.5763926     275                1.61%     2891    314     36     58109   184.9s
      1378    1376         2   0.00%   270.5763926     275                1.61%     3177    471     36     67740   256.4s

Solving report
  Status            Time limit reached
  Primal bound      275
  Dual bound        271
  Gap               1.45% (tolerance: 0.01%)
  Solution status   feasible
                    275 (objective)
                    0 (bound viol.)
                    4.4408920985e-15 (int. viol.)
                    0 (row viol.)
  Timing            256.43 (total)
                    3.60 (presolve)
                    0.00 (postsolve)
  Nodes             1378
  LP iterations     67740 (total)
                    0 (strong br.)
                    3590 (separation)
                    15608 (heuristics)
  Warning code 1 for call Highs_run(lp())
HiGHS 1.7.0: time limit, feasible solution
67740 simplex iterations
1378 branching nodes
absmipgap=4, relmipgap=0.0145455

In [175]:
e_s5_highs = ampl.getVariable('e').getValues().toPandas()
e_s5_highs = e_s5_highs.reset_index()
e_s5_highs.columns = ['item_loja','caixa', 'chave_loja_buffer_onda', 'valor_multiplo']
e_s5_highs = e_s5_highs.query('valor_multiplo >0')
e_s5_highs#.head(20)

        item_loja  caixa  chave_loja_buffer_onda  valor_multiplo
123             1     42                       1             1.0
144             1     49                       1             2.0
347             1    116                       3             2.0
399             1    134                       1             5.0
459             1    154                       1             3.0
...           ...    ...                     ...             ...
212963        332    154                       3             1.0
213020        332    173                       3             2.0
213359        333     72                       3             3.0
214127        334    114                       3            11.0
214658        335     77                       3             3.0

[1395 rows x 4 columns]

In [176]:
df_agrupamento_loja1_highs = e_s5_highs.query('chave_loja_buffer_onda == 1').pivot_table(index='item_loja', columns='caixa', values='valor_multiplo', fill_value=0)
df_agrupamento_loja1_highs = df_agrupamento_loja1_highs.reset_index()
df_agrupamento_loja1_highs.columns.name = None
df_agrupamento_loja1_highs # as colunas são as caixas

,item_loja,5,8,9,12,16,18,19,22,23,...,195,197,198,200,201,204,205,207,209,212
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
218,219,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
219,220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220,221,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
221,222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [177]:
df_agrupamento_loja2_highs = e_s5_highs.query('chave_loja_buffer_onda == 2').pivot_table(index='item_loja', columns='caixa', values='valor_multiplo', fill_value=0)
df_agrupamento_loja2_highs = df_agrupamento_loja2_highs.reset_index()
df_agrupamento_loja2_highs.columns.name = None
df_agrupamento_loja2_highs # as colunas são as caixas

,item_loja,4,13,15,20,22,23,24,27,30,...,199,201,202,203,204,205,208,209,210,213
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
236,237,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
237,238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
238,239,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
239,240,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [178]:
df_agrupamento_loja3_highs = e_s5_highs.query('chave_loja_buffer_onda == 3').pivot_table(index='item_loja', columns='caixa', values='valor_multiplo', fill_value=0)
df_agrupamento_loja3_highs = df_agrupamento_loja3_highs.reset_index()
df_agrupamento_loja3_highs.columns.name = None
df_agrupamento_loja3_highs # as colunas são as caixas

,item_loja,5,6,7,8,10,14,17,20,25,...,184,190,192,194,195,203,204,205,210,212
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,331,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
331,332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
332,333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333,334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
334,335,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [179]:
df_agrupamento_loja1['Id'] = vetores[f"{w.columns[0]}"]
df_agrupamento_loja1['chave_loja_buffer_onda'] = list(w.columns)[0]

df_agrupamento_loja2['Id'] = vetores[f"{w.columns[1]}"]
df_agrupamento_loja2['chave_loja_buffer_onda'] = list(w.columns)[1]

df_agrupamento_loja3['Id'] = vetores[f"{w.columns[2]}"]
df_agrupamento_loja3['chave_loja_buffer_onda'] = list(w.columns)[2]

In [180]:
y_s5_highs = ampl.getVariable('y').getValues().toPandas()
y_s5_highs = y_s5_highs.reset_index()
y_s5_highs.columns = ['Caixa','chave_loja_buffer_onda', 'selecao']
y_s5_highs = y_s5_highs.query('selecao>0')

df_caixas_por_loja_highs = y_s5_highs.pivot_table(index='Caixa', columns='chave_loja_buffer_onda', values='selecao', fill_value=0)
df_caixas_por_loja_highs = df_caixas_por_loja_highs.reset_index()
df_caixas_por_loja_highs.columns.name = None
df_caixas_por_loja_highs # as colunas são as caixas

     Caixa    1    2    3
0        4  0.0  1.0  0.0
1        5  1.0  0.0  1.0
2        6  0.0  0.0  1.0
3        7  0.0  0.0  1.0
4        8  1.0  0.0  1.0
..     ...  ...  ...  ...
172    208  0.0  1.0  0.0
173    209  1.0  1.0  0.0
174    210  0.0  1.0  1.0
175    212  1.0  0.0  1.0
176    213  0.0  1.0  0.0

[177 rows x 4 columns]

In [181]:
df_caixas_por_loja_highs.columns = (['caixas'] + list(w.columns)) # os número das colunas são os nomes das lojas
df_caixas_por_loja_highs

     caixas  16_EN_3  33_EN_3  9_EN_4
0         4      0.0      1.0     0.0
1         5      1.0      0.0     1.0
2         6      0.0      0.0     1.0
3         7      0.0      0.0     1.0
4         8      1.0      0.0     1.0
..      ...      ...      ...     ...
172     208      0.0      1.0     0.0
173     209      1.0      1.0     0.0
174     210      0.0      1.0     1.0
175     212      1.0      0.0     1.0
176     213      0.0      1.0     0.0

[177 rows x 4 columns]

In [182]:
print('Solver Highs')
for col in w.columns:
    print(f'número de caixas para a chave_loja_buffer_onda "{col}": {df_caixas_por_loja_highs[f"{col}"].sum()}')

Solver Gurobi
número de caixas para a chave_loja_buffer_onda "16_EN_3": 98.0
número de caixas para a chave_loja_buffer_onda "33_EN_3": 92.0
número de caixas para a chave_loja_buffer_onda "9_EN_4": 85.0