# 0- Imports

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import locale

import warnings
warnings.filterwarnings("ignore")

# 1- Base

In [5]:
df_instancias = pd.read_excel('../../01-Data/extra/dados_input_process.xlsx')
df_instancias

,Unnamed: 0,instancia,alocacao_id,alocacao_datahora,tipo_buffer,loja,sku,pecas,classe_onda,tipo_caixa_padrao,...,sku_unit_kg,sku_unit_m3,inner,caixa_cap_pecas,caixa_cap_kg,caixa_cap_m3,caixa_m3_externo,rota,cap_loja_m3,cap_rota_m3
0,0,instancia-1,alocacao-1,2024-05-29 19:07:06.923,tipo_buffer-1,loja-296,sku-77,7,classe_onda-11,CARTON_M,...,0.78,0.004776,1,170,23,0.125392,0.075995,rota-43,inf,46
1,1,instancia-1,alocacao-1000,2024-05-23 11:12:43.127,tipo_buffer-1,loja-58,sku-10540,14,classe_onda-6,CARTON_M,...,0.41,0.006154,2,170,23,0.091194,0.075995,rota-40,19.25,46
2,2,instancia-1,alocacao-10000,2024-06-14 18:05:48.893,tipo_buffer-2,loja-209,sku-11595,1,classe_onda-3,CARTON_M,...,0.29,0.005676,1,512,23,0.125392,0.075995,rota-1,inf,46
3,3,instancia-1,alocacao-10001,2024-06-14 18:05:42.413,tipo_buffer-2,loja-209,sku-11040,1,classe_onda-3,CARTON_M,...,0.21,0.001313,1,512,23,0.125392,0.075995,rota-1,inf,46
4,4,instancia-1,alocacao-10002,2024-06-14 18:05:46.887,tipo_buffer-2,loja-209,sku-6714,1,classe_onda-3,CARTON_M,...,0.50,0.011151,1,512,23,0.125392,0.075995,rota-1,inf,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233329,233329,instancia-5,alocacao-9633,2024-06-14 17:01:17.647,tipo_buffer-1,loja-15,sku-3806,2,classe_onda-8,CARTON_M,...,0.12,0.000749,2,170,23,0.083595,0.075995,rota-6,22.00,31
233330,233330,instancia-5,alocacao-9633,2024-06-14 17:01:17.647,tipo_buffer-1,loja-188,sku-3806,4,classe_onda-8,CARTON_M,...,0.12,0.000749,2,170,23,0.083595,0.075995,rota-2,13.00,31
233331,233331,instancia-5,alocacao-9633,2024-06-14 17:01:17.647,tipo_buffer-1,loja-94,sku-3806,2,classe_onda-8,CARTON_M,...,0.12,0.000749,2,170,23,0.083595,0.075995,rota-6,13.80,31
233332,233332,instancia-5,alocacao-964,2024-05-22 13:25:20.723,tipo_buffer-2,loja-15,sku-2720,2,classe_onda-5,CARTON_M,...,0.60,0.011131,1,512,23,0.125392,0.075995,rota-6,22.00,31
233333,233333,instancia-5,alocacao-964,2024-05-22 13:25:20.723,tipo_buffer-2,loja-37,sku-2720,4,classe_onda-5,CARTON_M,...,0.60,0.011131,1,512,23,0.125392,0.075995,rota-18,inf,31

In [6]:
df_instancias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233334 entries, 0 to 233333
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         233334 non-null  int64
 1   instancia          233334 non-null  object
 2   alocacao_id        233334 non-null  object
 3   alocacao_datahora  233334 non-null  datetime64[ns]
 4   tipo_buffer        233334 non-null  object
 5   loja               233334 non-null  object
 6   sku                233334 non-null  object
 7   pecas              233334 non-null  int64
 8   classe_onda        233334 non-null  object
 9   tipo_caixa_padrao  233334 non-null  object
 10  item_pai           233334 non-null  object
 11  codigo_cor         233334 non-null  object
 12  sku_unit_kg        233334 non-null  float64
 13  sku_unit_m3        233334 non-null  float64
 14  inner              233334 non-null  int64
 15  caixa_cap_pecas    233334 non-null  int64
 16  caixa_cap_kg       233334 non-null  int64
 17  caixa_cap_m3       233334 non-null  float64
 18  caixa_m3_externo   233334 non-null  float64
 19  rota               233334 non-null  object
 20  cap_loja_m3        233334 non-null  float64
 21  cap_rota_m3        233334 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(6), object(10)
memory usage: 39.2+ MB

In [7]:
def transforma_obj_to_str(df):
    var_obj = list(df.select_dtypes('object').columns)

    df[var_obj] = df[var_obj].astype('string')

    return df

In [8]:
df_instancias = transforma_obj_to_str(df_instancias)

In [9]:
df_instancias = df_instancias.rename(columns={'Unnamed: 0':'id_item'})

In [10]:
df_instancias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233334 entries, 0 to 233333
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id_item            233334 non-null  int64
 1   instancia          233334 non-null  string
 2   alocacao_id        233334 non-null  string
 3   alocacao_datahora  233334 non-null  datetime64[ns]
 4   tipo_buffer        233334 non-null  string
 5   loja               233334 non-null  string
 6   sku                233334 non-null  string
 7   pecas              233334 non-null  int64
 8   classe_onda        233334 non-null  string
 9   tipo_caixa_padrao  233334 non-null  string
 10  item_pai           233334 non-null  string
 11  codigo_cor         233334 non-null  string
 12  sku_unit_kg        233334 non-null  float64
 13  sku_unit_m3        233334 non-null  float64
 14  inner              233334 non-null  int64
 15  caixa_cap_pecas    233334 non-null  int64
 16  caixa_cap_kg       233334 non-null  int64
 17  caixa_cap_m3       233334 non-null  float64
 18  caixa_m3_externo   233334 non-null  float64
 19  rota               233334 non-null  string
 20  cap_loja_m3        233334 non-null  float64
 21  cap_rota_m3        233334 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(6), string(10)
memory usage: 39.2 MB

## 1.1- Totais por item

In [11]:
df_instancias['Volume_total'] = df_instancias['pecas'] * df_instancias['sku_unit_m3']

df_instancias[['pecas','sku_unit_m3','Volume_total']]

        pecas  sku_unit_m3  Volume_total
0           7     0.004776      0.033430
1          14     0.006154      0.086150
2           1     0.005676      0.005676
3           1     0.001313      0.001313
4           1     0.011151      0.011151
...       ...          ...           ...
233329      2     0.000749      0.001497
233330      4     0.000749      0.002994
233331      2     0.000749      0.001497
233332      2     0.011131      0.022262
233333      4     0.011131      0.044523

[233334 rows x 3 columns]

In [12]:
df_instancias['Peso_total'] = df_instancias['pecas'] * df_instancias['sku_unit_kg']

df_instancias[['pecas','sku_unit_kg','Peso_total']]

        pecas  sku_unit_kg  Peso_total
0           7         0.78        5.46
1          14         0.41        5.74
2           1         0.29        0.29
3           1         0.21        0.21
4           1         0.50        0.50
...       ...          ...         ...
233329      2         0.12        0.24
233330      4         0.12        0.48
233331      2         0.12        0.24
233332      2         0.60        1.20
233333      4         0.60        2.40

[233334 rows x 3 columns]

In [13]:
df_instancias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233334 entries, 0 to 233333
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id_item            233334 non-null  int64
 1   instancia          233334 non-null  string
 2   alocacao_id        233334 non-null  string
 3   alocacao_datahora  233334 non-null  datetime64[ns]
 4   tipo_buffer        233334 non-null  string
 5   loja               233334 non-null  string
 6   sku                233334 non-null  string
 7   pecas              233334 non-null  int64
 8   classe_onda        233334 non-null  string
 9   tipo_caixa_padrao  233334 non-null  string
 10  item_pai           233334 non-null  string
 11  codigo_cor         233334 non-null  string
 12  sku_unit_kg        233334 non-null  float64
 13  sku_unit_m3        233334 non-null  float64
 14  inner              233334 non-null  int64
 15  caixa_cap_pecas    233334 non-null  int64
 16  caixa_cap_kg       233334 non-null  int64
 17  caixa_cap_m3       233334 non-null  float64
 18  caixa_m3_externo   233334 non-null  float64
 19  rota               233334 non-null  string
 20  cap_loja_m3        233334 non-null  float64
 21  cap_rota_m3        233334 non-null  int64
 22  Volume_total       233334 non-null  float64
 23  Peso_total         233334 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(6), string(10)
memory usage: 42.7 MB

## 1.2- Rotas

In [14]:
df_rotas = pd.read_excel('../../01-Data/extra/dados.xlsx', sheet_name='rotas')
df_rotas

      instancia     rota  cap_rota_m3
0   instancia-1   rota-1           46
1   instancia-1  rota-17           15
2   instancia-1  rota-24           31
3   instancia-1  rota-25           46
4   instancia-1  rota-30           46
..          ...      ...          ...
80  instancia-5   rota-5           15
81  instancia-5   rota-6           31
82  instancia-5  rota-68           31
83  instancia-5  rota-69           92
84  instancia-5   rota-7           31

[85 rows x 3 columns]

In [15]:
df_rotas = transforma_obj_to_str(df_rotas)

In [16]:
df_rotas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   instancia    85 non-null     string
 1   rota         85 non-null     string
 2   cap_rota_m3  85 non-null     int64
dtypes: int64(1), string(2)
memory usage: 2.1 KB

## 1.3- Caixas

In [17]:
df_caixas = pd.read_excel('../../01-Data/extra/dados.xlsx', sheet_name='tipos caixas')
df_caixas

,instancia,tipo_buffer,classe_onda,tipo_caixa,caixa_cap_pecas,caixa_cap_kg,caixa_cap_m3,caixa_m3_externo
0,instancia-1,tipo_buffer-1,classe_onda-1,CARTON_M,170,23,0.125392,0.075995
1,instancia-1,tipo_buffer-1,classe_onda-10,CARTON_M,170,23,0.125392,0.075995
2,instancia-1,tipo_buffer-1,classe_onda-11,CARTON_M,170,23,0.125392,0.075995
3,instancia-1,tipo_buffer-1,classe_onda-2,CARTON_M,170,23,0.125392,0.075995
4,instancia-1,tipo_buffer-1,classe_onda-3,CARTON_L,170,23,0.074563,0.093204
...,...,...,...,...,...,...,...,...
136,instancia-5,tipo_buffer-2,classe_onda-3,CARTON_M,512,23,0.125392,0.075995
137,instancia-5,tipo_buffer-2,classe_onda-4,CARTON_M,512,23,0.113993,0.075995
138,instancia-5,tipo_buffer-2,classe_onda-5,CARTON_L,512,23,0.074563,0.093204
139,instancia-5,tipo_buffer-2,classe_onda-5,CARTON_M,512,23,0.125392,0.075995
140,instancia-5,tipo_buffer-2,classe_onda-6,CARTON_M,512,23,0.091194,0.075995

In [18]:
df_caixas = transforma_obj_to_str(df_caixas)

In [19]:
df_caixas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   instancia         141 non-null    string
 1   tipo_buffer       141 non-null    string
 2   classe_onda       141 non-null    string
 3   tipo_caixa        141 non-null    string
 4   caixa_cap_pecas   141 non-null    int64
 5   caixa_cap_kg      141 non-null    int64
 6   caixa_cap_m3      141 non-null    float64
 7   caixa_m3_externo  141 non-null    float64
dtypes: float64(2), int64(2), string(4)
memory usage: 8.9 KB

# 2- Heurística

In [30]:
def first_fit_decreasing(df, bin_restrictions, route_restrictions):
    # Sort items in decreasing order of volume and increasing order of date (FIFO)
    df_sorted = df.copy()
    df_sorted['Inv_Volume_total'] = (1 / df_sorted['Volume_total']).replace(np.inf, 0)
    df_sorted = df_sorted.sort_values(by=['alocacao_datahora', 'Inv_Volume_total', 'sku'], ascending=True)
    
    # Initialize bins list
    bins = []
    leftover_items = pd.DataFrame(columns=df_sorted.columns)  # Initialize leftover items DataFrame
    
    # Flag to track if a split was made
    split_made = True
    items_to_drop = []
    df_sorted = df_sorted.reset_index(drop=True)
    items_to_add = []

    while len(df_sorted) != 0:
        split_made = False
        df_sorted = df_sorted[~df_sorted.index.isin(items_to_drop)]

        # Add needed items to df_sorted
        if len(items_to_add) != 0:
            df_sorted = pd.concat([df_sorted, pd.DataFrame(items_to_add)])
        items_to_add = []
        df_sorted = df_sorted.reset_index(drop=True)
        items_to_drop = []
        
        # Make a copy of the sorted DataFrame
        df_sorted_copy = df_sorted.copy()
        
        # Iterate over items in the copy of the sorted DataFrame
        for index, item in df_sorted_copy.iterrows():
            # Flag to check if the item is placed
            placed = False
            
            # Try to place the item in existing bins
            for bin in bins:
                if (bin['Volume'] + item['Volume_total']) <= bin["vol_limit"] \
                    and (bin['Peso_total'] + item['Peso_total']) <= 23 \
                    and bin['Amt.Items'] + item['pecas'] <= bin["item_limit"] \
                    and item["loja"] == bin["loja"] \
                    and item["rota"] == bin["rota"] \
                    and item["tipo_buffer"] == bin["Buffer"] \
                    and item["classe_onda"] == bin["Wave"]:
                    
                    bin['Items'].append(index)
                    bin['Volume'] += item['Volume_total']
                    bin['Peso_total'] += item['Peso_total']
                    bin['Amt.Items'] += item['pecas']

                    # Remove the item from the original DataFrame
                    items_to_drop.append(index)
                    placed = True
                    break
            
            # If the item couldn't be placed entirely, reduce it by "inner" means until it fits into a bin
            while not placed and item['pecas'] > item['inner']:
                # Reduce the item to its inner size
                detached_portion = item.copy()
                detached_portion['pecas'] = item['inner']
                detached_portion['Volume_total'] = item['sku_unit_m3'] * item['inner']
                detached_portion['Peso_total'] = item['sku_unit_kg'] * item['inner']
                
                # Update the remaining portion of the item
                item['pecas'] -= item['inner']
                item['Volume_total'] -= item['sku_unit_m3'] * item['inner']
                item['Peso_total'] -= item['sku_unit_kg'] * item['inner']
                
                # Concatenate the reduced portion back to the original DataFrame
                items_to_add.append(detached_portion)
                split_made = True
                
                # Try to place the reduced item in existing bins
                for bin in bins:
                    if (bin['Volume'] + item['Volume_total']) <= bin["vol_limit"] \
                        and (bin['Peso_total'] + item['Peso_total']) <= 23 \
                        and bin['Amt.Items'] + item['pecas'] <= bin["item_limit"] \
                        and item["loja"] == bin["loja"] \
                        and item["rota"] == bin["rota"] \
                        and item["tipo_buffer"] == bin["Buffer"] \
                        and item["classe_onda"] == bin["Wave"]:
                        
                        bin['Items'].append(index)  # Append index of the appended reduced item
                        bin['Volume'] += item['Volume_total']
                        bin['Peso_total'] += item['Peso_total']
                        bin['Amt.Items'] += item['pecas']

                        items_to_drop.append(index) # Remove the reduced item from the original DataFrame
                        placed = True
                        break
            
            # If the item still couldn't be placed, create a new bin
            if not placed:
                # Check if creating a new bin exceeds route capacity
                if len([bin for bin in bins if bin['rota'] == item["rota"]]) >= route_restrictions[route_restrictions["rota"] == item["rota"]]["cap_rota_m3"].values[0]:
                    leftover_items = pd.concat([leftover_items, item])  # Add item to leftover items DataFrame
                else:
                    bins.append({
                        'Items': [index],
                        'Volume': item['Volume_total'],
                        'Peso_total': item['Peso_total'],
                        'Amt.Items': item['pecas'],
                        "loja": item["loja"],
                        "rota": item["rota"],
                        "Buffer": item["tipo_buffer"],
                        "Wave": item["classe_onda"],
                        "vol_limit": bin_restrictions[bin_restrictions["tipo_buffer"] == item["tipo_buffer"]]["caixa_cap_m3"].values[0],
                        "item_limit": bin_restrictions[bin_restrictions["tipo_buffer"] == item["tipo_buffer"]]["caixa_cap_pecas"].values[0]
                    })
                    items_to_drop.append(index)
                    placed = True
                    break
    
    return bins, leftover_items

In [21]:
def add_item_loja_column(df):
    # Group by 'Loja' and 'Produto' and use cumcount to assign a sequential number starting from 1
    df['item_loja'] = df.groupby(['loja']).cumcount() + 1
    return df

## 2.1- Instancia 1

In [22]:
df_instancias.columns

Index(['id_item', 'instancia', 'alocacao_id', 'alocacao_datahora',
       'tipo_buffer', 'loja', 'sku', 'pecas', 'classe_onda',
       'tipo_caixa_padrao', 'item_pai', 'codigo_cor', 'sku_unit_kg',
       'sku_unit_m3', 'inner', 'caixa_cap_pecas', 'caixa_cap_kg',
       'caixa_cap_m3', 'caixa_m3_externo', 'rota', 'cap_loja_m3',
       'cap_rota_m3', 'Volume_total', 'Peso_total'],
      dtype='object')

In [23]:
df_instancias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233334 entries, 0 to 233333
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id_item            233334 non-null  int64
 1   instancia          233334 non-null  string
 2   alocacao_id        233334 non-null  string
 3   alocacao_datahora  233334 non-null  datetime64[ns]
 4   tipo_buffer        233334 non-null  string
 5   loja               233334 non-null  string
 6   sku                233334 non-null  string
 7   pecas              233334 non-null  int64
 8   classe_onda        233334 non-null  string
 9   tipo_caixa_padrao  233334 non-null  string
 10  item_pai           233334 non-null  string
 11  codigo_cor         233334 non-null  string
 12  sku_unit_kg        233334 non-null  float64
 13  sku_unit_m3        233334 non-null  float64
 14  inner              233334 non-null  int64
 15  caixa_cap_pecas    233334 non-null  int64
 16  caixa_cap_kg       233334 non-null  int64
 17  caixa_cap_m3       233334 non-null  float64
 18  caixa_m3_externo   233334 non-null  float64
 19  rota               233334 non-null  string
 20  cap_loja_m3        233334 non-null  float64
 21  cap_rota_m3        233334 non-null  int64
 22  Volume_total       233334 non-null  float64
 23  Peso_total         233334 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(6), string(10)
memory usage: 42.7 MB

In [24]:
df_instancias['instancia'].unique()

<StringArray>
['instancia-1', 'instancia-2', 'instancia-3', 'instancia-4', 'instancia-5']
Length: 5, dtype: string

In [25]:
df_ffd_s1 = df_instancias.query('instancia == "instancia-1"').reset_index(drop=True)
df_ffd_s1

,id_item,instancia,alocacao_id,alocacao_datahora,tipo_buffer,loja,sku,pecas,classe_onda,tipo_caixa_padrao,...,inner,caixa_cap_pecas,caixa_cap_kg,caixa_cap_m3,caixa_m3_externo,rota,cap_loja_m3,cap_rota_m3,Volume_total,Peso_total
0,0,instancia-1,alocacao-1,2024-05-29 19:07:06.923,tipo_buffer-1,loja-296,sku-77,7,classe_onda-11,CARTON_M,...,1,170,23,0.125392,0.075995,rota-43,inf,46,0.033430,5.46
1,1,instancia-1,alocacao-1000,2024-05-23 11:12:43.127,tipo_buffer-1,loja-58,sku-10540,14,classe_onda-6,CARTON_M,...,2,170,23,0.091194,0.075995,rota-40,19.25,46,0.086150,5.74
2,2,instancia-1,alocacao-10000,2024-06-14 18:05:48.893,tipo_buffer-2,loja-209,sku-11595,1,classe_onda-3,CARTON_M,...,1,512,23,0.125392,0.075995,rota-1,inf,46,0.005676,0.29
3,3,instancia-1,alocacao-10001,2024-06-14 18:05:42.413,tipo_buffer-2,loja-209,sku-11040,1,classe_onda-3,CARTON_M,...,1,512,23,0.125392,0.075995,rota-1,inf,46,0.001313,0.21
4,4,instancia-1,alocacao-10002,2024-06-14 18:05:46.887,tipo_buffer-2,loja-209,sku-6714,1,classe_onda-3,CARTON_M,...,1,512,23,0.125392,0.075995,rota-1,inf,46,0.011151,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52983,52983,instancia-1,alocacao-9995,2024-06-14 18:05:54.780,tipo_buffer-2,loja-209,sku-11038,1,classe_onda-3,CARTON_M,...,1,512,23,0.125392,0.075995,rota-1,inf,46,0.003849,0.21
52984,52984,instancia-1,alocacao-9996,2024-06-14 18:05:48.323,tipo_buffer-2,loja-209,sku-8904,1,classe_onda-3,CARTON_M,...,1,512,23,0.125392,0.075995,rota-1,inf,46,0.006025,0.38
52985,52985,instancia-1,alocacao-9997,2024-06-14 18:05:48.007,tipo_buffer-2,loja-209,sku-12255,2,classe_onda-3,CARTON_M,...,1,512,23,0.125392,0.075995,rota-1,inf,46,0.006105,0.26
52986,52986,instancia-1,alocacao-9998,2024-06-14 18:05:48.220,tipo_buffer-2,loja-209,sku-11006,1,classe_onda-3,CARTON_M,...,1,512,23,0.125392,0.075995,rota-1,inf,46,0.006106,0.33
52987,52987,instancia-1,alocacao-9999,2024-06-14 18:05:57.903,tipo_buffer-2,loja-209,sku-6722,1,classe_onda-3,CARTON_M,...,1,512,23,0.125392,0.075995,rota-1,inf,46,0.010851,0.26

In [26]:
df_ffd_s1['pecas'].sum()

np.int64(171563)

In [27]:
df_ffd_s1['Volume_total'].sum()

np.float64(538.400660706)

In [31]:
backlog = df_ffd_s1.copy()
backlog = backlog.reset_index(drop=True)
backlog = add_item_loja_column(backlog)
packed_bins, leftovers = first_fit_decreasing(df_ffd_s1, bin_restrictions=df_caixas, route_restrictions=df_rotas)
print("Packed bins (new method):")
for i, bin in enumerate(packed_bins):
    print(f"Bin {i+1}: Amt. Items {bin['Amt.Items']} (Total Volume: {bin['Volume']} cubic m | Total Weight: {bin['Peso_total'] :.4f}kg)")

print(f"\nLeftover items: {leftovers['pecas'].sum()} items")