# 0- Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
# !pip install openpyxl

# 1- Importar base

In [4]:
df_prod = pd.read_excel('01-Data\Dados - desafio disciplina RPVMM.xlsx')
df_prod

,Ordem de produção,Data da ordem de produção,Produto,Comprimento unit,Largura unit,Altura unit,Peso unit,Peças,Caixa padrão,Loja,Classe de onda,Tipo de buffer,Item pai,Cor,Tamanho,Inner
0,1,2023-11-07,549326104,472,232,24,0.130,5,CARTON_M,1,1,EN,1,1.0,1,1
1,2,2023-11-14,828646451,284,131,50,0.250,3,CARTON_M,2,2,CX,2,2.0,2,1
2,3,2023-11-09,605410977,250,100,14,0.120,1,CARTON_M,3,1,CX,3,3.0,3,1
3,4,2023-11-20,847250347,460,267,52,0.570,2,CARTON_M,4,3,EN,4,4.0,4,1
4,5,2023-11-17,840651501,480,235,67,0.340,3,CARTON_M,5,4,EN,5,5.0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,11716,2023-11-27,882142923,545,320,34,0.300,1,CARTON_M,147,4,EN,506,9.0,6,1
99996,11428,2023-11-27,837646815,493,220,50,0.303,1,CARTON_M,12,4,EN,1212,4.0,3,1
99997,11460,2023-11-17,882141251,459,333,21,0.307,1,CARTON_M,129,4,EN,2334,9.0,6,1
99998,11542,2023-11-17,882141269,472,332,22,0.287,2,CARTON_M,37,4,EN,2334,9.0,1,1
99999,11696,2023-11-27,881474521,191,306,33,0.280,2,CARTON_M,50,4,EN,1581,486.0,3,1

In [5]:
df_caixas = pd.read_excel('01-Data\Dados - desafio disciplina RPVMM.xlsx', sheet_name='Caixas Formadas')
df_caixas

       Caixa Id Tipo de buffer   Sku  Classe de onda  Peças
0             1             CX     1               1      1
1             2             CX     2               2      4
2             3             CX     3               2     10
3             4             CX     4               1      1
4             5             CX     5               2      1
...         ...            ...   ...             ...    ...
31443      1316             CX  2039               5      2
31444      2364             EN  2121               5      2
31445      2147             EN  2121               5      6
31446      3902             EN  2121               5      4
31447      2383             EN  2121               5      2

[31448 rows x 5 columns]

In [6]:
df_caixas_tipo = pd.read_excel('01-Data\Dados - desafio disciplina RPVMM.xlsx', sheet_name='Tipos de caixa')
df_caixas_tipo

,Tipo,Tipo de buffer,Comprimento,Largura,Altura,Fator de ocupação,Peças max,Peso max (kg)
0,Caixa 1,CX,380,285,285,0.9,170,23
1,Caixa 2,CX,586,436,272,1.2,170,23
2,Caixa 3,CX,728,427,270,0.9,170,23
3,Caixa 1,EN,380,285,285,0.9,512,23
4,Caixa 2,EN,586,436,272,1.2,512,23
5,Caixa 3,EN,728,427,270,0.9,512,23